<div class="container" id="container">
  <!-- BEGIN ROW -->
  <div class="row">
    <!-- BEGIN COL-9 -->
    <div class="col-lg-9 col-md-8 order-md-1">
      <h6 class="text-muted text-normal text-uppercase">Sweet Alert</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-lg-4 margin-bottom-1x">
          <div class="card bg_svg_green text-white">
            <div class="card-body">
              <h4 class="card-title">A basic message</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional
                content.</p>
              <a class="btn btn-outline-white btn-sm sweet_alert" id="basic_alert" href="javascript:void(0)">Click here</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 margin-bottom-1x">
          <div class="card bg_svg_red text-white">
            <div class="card-body">
              <h4 class="card-title">Title with a text under</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional
                content.</p>
              <a class="btn btn-outline-white btn-sm sweet_alert" id="title-and-text" href="javascript:void(0)">Click here</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 margin-bottom-1x">
          <div class="card bg_svg_blue text-white">
            <div class="card-body">
              <h4 class="card-title">Success Message</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional
                content.</p>
              <a class="btn btn-outline-white btn-sm sweet_alert" id="success-message" href="javascript:void(0)">Click here</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 margin-bottom-1x">
          <div class="card bg_svg_blue text-white">
            <div class="card-body">
              <h4 class="card-title">Custom HTML description</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional
                content.</p>
              <a class="btn btn-outline-white btn-sm sweet_alert" id="custom-html" href="javascript:void(0)">Click here</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 margin-bottom-1x">
          <div class="card bg_svg_green text-white">
            <div class="card-body">
              <h4 class="card-title">A warning message, with callback</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional
                content.</p>
              <a class="btn btn-outline-white btn-sm sweet_alert" id="warning-message-and-confirmation" href="javascript:void(0)">Click here</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 margin-bottom-1x">
          <div class="card bg_svg_blue text-white">
            <div class="card-body">
              <h4 class="card-title">you can execute something else for "Cancel"</h4>
              <p class="card-text">With supporting text below as a natural lead-in.</p>
              <a class="btn btn-outline-white btn-sm sweet_alert" id="warning-message-and-cancel" href="javascript:void(0)">Click here</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 margin-bottom-1x">
          <div class="card bg_svg_red text-white">
            <div class="card-body">
              <h4 class="card-title">Alert with time</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional
                content.</p>
              <a class="btn btn-outline-white btn-sm sweet_alert" id="auto-close" href="javascript:void(0)">Click here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END COL-9 -->

    <!-- BEGIN COL-3 -->
    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
      <!-- SIDE MENU-->
      <nav class="list-group" id="ui_elements_nav">
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/accordion">Accordion</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/alerts">Alerts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/buttons">Buttons</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/cards">Cards</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/forms">Forms</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/formLayouts">Form Layouts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/gallery">Gallery</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/images">Images & Figures</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/listGroup">List Group</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/mediaObject">Media Object</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/modals">Modal</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pagination">Pagination</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pills">Pills</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/progressBars">Progress Bars</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/steps">Steps</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tables">Tables</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tabs">Tabs</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/toastNotification">Toast
          Notifications</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/sweetAlert">Sweet Alert</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tooltips">Tooltips & Popovers</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/typography">Typography</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="widgets">Widgets</a>

      </nav>
    </div>
    <!-- END COL-3 -->
  </div>
  <!-- END ROW -->
</div>