<div class="container" id="container">
  <!-- BEGIN ROW -->
  <div class="row">
    <!-- BEGIN COL-9 -->
    <div class="col-lg-9 col-md-8 order-md-1">
      <h6 class="text-muted text-normal text-uppercase">Headings & Body text</h6>
      <hr class="margin-bottom-1x">
      <h1>H1. Heading</h1>
      <p class="lead"><strong>Lead text.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Dicta voluptatibus quos ea dolore rem, molestias laudantium et <a href='#'>explicabo assumenda</a>
        fugiat deserunt in, facilis laborum excepturi aliquid nobis ipsam deleniti aut? Aliquid sit hic id
        velit qui fuga nemo suscipit obcaecati.</p>
      <hr class="margin-top-1x margin-bottom-1x">
      <h2>H2. Heading</h2>
      <p class="text-lg"><strong>Large text.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Dicta voluptatibus quos ea dolore rem, molestias laudantium et explicabo assumenda fugiat
        deserunt in, facilis laborum excepturi aliquid nobis ipsam deleniti aut? Aliquid sit hic id velit
        qui fuga nemo suscipit obcaecati.</p>
      <hr class="margin-top-1x margin-bottom-1x">
      <h3>H3. Heading</h3>
      <p><strong>Regular text.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta
        voluptatibus quos ea dolore rem, molestias laudantium et explicabo assumenda fugiat deserunt in,
        facilis <a href='#'>laborum excepturi</a> aliquid nobis ipsam deleniti aut? Aliquid sit hic id velit
        qui fuga nemo suscipit obcaecati. Officia nisi quaerat minus nulla saepe aperiam sint possimus magni
        veniam provident.</p>
      <hr class="margin-top-1x margin-bottom-1x">
      <h4>H4. Heading</h4>
      <p class="text-sm"><strong>Small text.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Dicta voluptatibus quos ea dolore rem, molestias laudantium et explicabo assumenda fugiat
        deserunt in, facilis laborum excepturi aliquid nobis ipsam deleniti aut? Aliquid sit hic id velit
        qui fuga nemo suscipit obcaecati. Officia nisi quaerat minus nulla saepe aperiam sint possimus magni
        veniam provident.</p>
      <hr class="margin-top-1x margin-bottom-1x">
      <h5>H5. Heading</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptatibus quos ea dolore rem,
        molestias laudantium et explicabo assumenda fugiat deserunt in, facilis laborum excepturi aliquid
        nobis ipsam deleniti aut? Aliquid sit hic id velit qui fuga nemo suscipit obcaecati. Officia nisi
        quaerat minus nulla saepe aperiam sint possimus magni veniam provident.</p>
      <hr class="margin-top-1x margin-bottom-1x">
      <h6>H6. Heading</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta voluptatibus quos ea dolore rem,
        molestias laudantium et explicabo assumenda fugiat deserunt in, facilis laborum excepturi aliquid
        nobis ipsam deleniti aut? Aliquid sit hic id velit qui fuga nemo suscipit obcaecati. Officia nisi
        quaerat minus nulla saepe aperiam sint possimus magni veniam provident.</p>
      <div class="row">
        <div class="col-md-6 margin-top-2x">
          <h6 class="text-muted text-normal text-uppercase">Contextual colors</h6>
          <hr class="margin-bottom-1x">
          <ul class="list-unstyled">
            <li class="text-lg text-primary"><strong>Primary.</strong> Lorem ipsum dolor sit amet
              consectetur.
            </li>
            <li class="text-lg text-info"><strong>Info.</strong> Lorem ipsum dolor sit amet consectetur.
            </li>
            <li class="text-lg text-success"><strong>Success.</strong> Lorem ipsum dolor sit amet
              consectetur.
            </li>
            <li class="text-lg text-warning"><strong>Warning.</strong> Lorem ipsum dolor sit amet
              consectetur.
            </li>
            <li class="text-lg text-danger"><strong>Danger.</strong> Lorem ipsum dolor sit amet
              consectetur.
            </li>
            <li class="text-lg text-muted"><strong>Muted.</strong> Lorem ipsum dolor sit amet
              consectetur.
            </li>
          </ul>
        </div>
        <div class="col-md-6 margin-top-2x">
          <h6 class="text-muted text-normal text-uppercase">Contextual backgrounds</h6>
          <hr class="margin-bottom-1x">
          <p class="text-lg"><span class="bg-primary text-white">Ipsum saepe nam</span> labore, quidem
            explicabo dolor dolorum hic aperiam <span class="bg-success text-white">aspernatur. Tenetur maiores</span>
            impedit neque tempore suscipit velit ea corrupti aperiam dicta? Lorem <span
                    class="bg-info text-white">ipsum dolor sit amet</span>, consectetur <span
                    class="bg-warning text-white">adipisicing elit. Reiciendis</span> suscipit natus,
            incidunt unde accusantium, obcaecati <span class="bg-danger text-white">consequatur, possimus</span>
            saepe <span class="bg-inverse text-white">voluptate quia nobis</span> tempore dolores
            nesciunt quaerat excepturi <span class="bg-faded">quo veniam est corporis.</span></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 margin-top-2x">
          <h6 class="text-muted text-normal text-uppercase">Unordered list</h6>
          <hr class="margin-bottom-1x">
          <ul>
            <li>Architecto nobis deleniti iure eaque explicabo animi.</li>
            <li>Lorem ipsum dolor sit amet consectetur quia alias.</li>
            <li>Nemo mollitia labore, ipsam nesciunt excepturi sequi.</li>
            <li>Excepturi perferendis voluptatum mollitia nesciunt.</li>
          </ul>
        </div>
        <div class="col-md-6 margin-top-2x">
          <h6 class="text-muted text-normal text-uppercase">Ordered list</h6>
          <hr class="margin-bottom-1x">
          <ol>
            <li>Architecto nobis deleniti iure eaque explicabo animi.</li>
            <li>Lorem ipsum dolor sit amet consectetur quia alias.</li>
            <li>Nemo mollitia labore, ipsam nesciunt excepturi sequi.</li>
            <li>Excepturi perferendis voluptatum mollitia nesciunt.</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 margin-top-2x">
          <h6 class="text-muted text-normal text-uppercase">Icon list</h6>
          <hr class="margin-bottom-1x">
          <ul class="list-icon">
            <li><i class="icon-check text-success"></i>Architecto nobis deleniti iure eaque explicabo
              animi.
            </li>
            <li><i class="icon-cross text-danger"></i>Lorem ipsum dolor sit amet consectetur quia alias.
            </li>
            <li><i class="icon-sun"></i>Nemo mollitia labore, ipsam nesciunt excepturi sequi.</li>
            <li><i class="icon-share"></i>Excepturi perferendis voluptatum mollitia nesciunt.</li>
          </ul>
        </div>
        <div class="col-md-6 margin-top-2x">
          <h6 class="text-muted text-normal text-uppercase">Unstyled list</h6>
          <hr class="margin-bottom-1x">
          <ol class="list-unstyled">
            <li>Architecto nobis deleniti iure eaque explicabo animi.</li>
            <li>Lorem ipsum dolor sit amet consectetur quia alias.</li>
            <li>Nemo mollitia labore, ipsam nesciunt excepturi sequi.</li>
            <li>Excepturi perferendis voluptatum mollitia nesciunt.</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 margin-top-2x">
          <h6 class="text-muted text-normal text-uppercase">Inline text elements</h6>
          <hr class="margin-bottom-1x">
          <p>You can use the mark tag to
            <mark>highlight</mark>
            text.
          </p>
          <p>
            <del>This line of text is meant to be treated as deleted text.</del>
          </p>
          <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
          <p><u>This line of text will render as underlined</u></p>
          <p>
            <small>This line of text is meant to be treated as fine print.</small>
          </p>
          <p><strong>This line rendered as bold text.</strong></p>
          <p><em>This line rendered as italicized text.</em></p>
        </div>
        <div class="col-md-6 margin-top-2x">
          <h6 class="text-muted text-normal text-uppercase">Description list</h6>
          <hr class="margin-bottom-1x">
          <dl>
            <dt>Description lists</dt>
            <dd>A description list is perfect for defining terms.</dd>
            <dt>Malesuada porta</dt>
            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit porto
              fegut.
            </dd>
            <dt>Lorem ipsum dolor sit amet</dt>
            <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
              massa justo sit amet risus.
            </dd>
          </dl>
        </div>
      </div>
      <div class="margin-top-2x">
        <h6 class="text-muted text-normal text-uppercase">Blockquotes</h6>
        <hr class="margin-bottom-1x">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <cite>Someone famous</cite>
        </blockquote>
        <blockquote class="blockquote-reverse">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
          <cite>Someone famous</cite>
        </blockquote>
      </div>
      <div class="margin-top-2x">
        <h6 class="text-muted text-normal text-uppercase">Inline Code</h6>
        <hr class="margin-bottom-1x">
        <p>Wrap inline snippets of code with <code>&lt;code&gt;</code>. Be sure to escape HTML angle
          brackets.</p>
      </div>
      <div class="margin-top-2x">
        <h6 class="text-muted text-normal text-uppercase">User Input</h6>
        <hr class="margin-bottom-1x">
        <p>To switch directories, type <kbd>cd</kbd> followed by the name of the directory.</p>
        <p>To edit settings, press <kbd>ctrl + ,</kbd></p>
      </div>
      <div class="margin-top-2x">
        <h6 class="text-muted text-normal text-uppercase">Code Blocks</h6>
        <hr class="margin-bottom-1x">
        <pre><code> &lt;p&gt;Sample text here...&lt;/p&gt;
 &lt;p&gt;And another line of sample text here...&lt;/p&gt;</code></pre>
      </div>
    </div>
    <!-- END COL-9 -->

    <!-- BEGIN COL-3 -->
    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
      <!-- SIDE MENU-->
      <nav class="list-group" id="ui_elements_nav">
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/accordion">Accordion</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/alerts">Alerts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/buttons">Buttons</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/cards">Cards</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/forms">Forms</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/formLayouts">Form Layouts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/gallery">Gallery</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/images">Images & Figures</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/listGroup">List Group</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/mediaObject">Media Object</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/modals">Modal</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pagination">Pagination</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pills">Pills</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/progressBars">Progress Bars</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/steps">Steps</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tables">Tables</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tabs">Tabs</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/toastNotification">Toast
          Notifications</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/sweetAlert">Sweet Alert</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tooltips">Tooltips & Popovers</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/typography">Typography</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="widgets">Widgets</a>

      </nav>
    </div>
    <!-- END COL-3 -->
  </div>
  <!-- END ROW -->
</div>