<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-8 order-md-1">
      <h6 class="text-muted text-normal text-uppercase">Search</h6>
      <hr class="margin-bottom-1x">
      <div class="card-columns">
        <div class="card margin-bottom-1x">
          <img class="card-img-top" src="http://via.placeholder.com/1280x853"
               alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.</p>
            <span class="text-muted">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card margin-bottom-1x">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              posuere erat a ante.</p>
            <span class="text-muted">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card margin-bottom-1x">
          <img class="card-img-top" src="http://via.placeholder.com/1920x1080"
               alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional
              content.</p>
            <span class="text-muted">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card text-white bg-primary text-center margin-bottom-1x">
          <div class="card-body">
            <p class="card-text text-medium text-white">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Integer posuere erat a ante.</p>
            <span class="opacity-75">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card margin-bottom-1x">
          <img class="card-img-top" src="http://via.placeholder.com/1920x1080"
               alt="Card image">
        </div>
        <div class="card text-center margin-bottom-1x">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional
              content.</p>
            <span class="text-muted">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card text-right margin-bottom-1x">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              posuere erat a ante.</p>
            <span class="text-muted">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card text-white bg_svg_red text-center margin-bottom-1x">
          <div class="card-body">
            <p class="card-text text-medium text-white">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Integer posuere erat a ante.</p>
            <span class="opacity-75">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card text-white bg_svg_green text-center margin-bottom-1x">
          <div class="card-body">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text text-medium text-white">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Integer posuere erat a ante.</p>
            <span class="opacity-75">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card margin-bottom-1x">
          <img class="card-img-top" src="http://via.placeholder.com/1280x853"
               alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.</p>
            <span class="text-muted">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card margin-bottom-1x">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              posuere erat a ante.</p>
            <span class="text-muted">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card margin-bottom-1x">
          <img class="card-img-top" src="http://via.placeholder.com/1920x1080"
               alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional
              content.</p>
            <span class="text-muted">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card text-white bg-primary text-center margin-bottom-1x">
          <div class="card-body">
            <p class="card-text text-medium text-white">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Integer posuere erat a ante.</p>
            <span class="opacity-75">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card margin-bottom-1x">
          <img class="card-img-top" src="http://via.placeholder.com/1920x1080"
               alt="Card image">
        </div>
        <div class="card text-center margin-bottom-1x">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional
              content.</p>
            <span class="text-muted">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card text-right margin-bottom-1x">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              posuere erat a ante.</p>
            <span class="text-muted">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card text-white bg_svg_red text-center margin-bottom-1x">
          <div class="card-body">
            <p class="card-text text-medium text-white">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Integer posuere erat a ante.</p>
            <span class="opacity-75">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card text-white bg_svg_green text-center margin-bottom-1x">
          <div class="card-body">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text text-medium text-white">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Integer posuere erat a ante.</p>
            <span class="opacity-75">Last updated 3mins ago</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
      <aside class="sidebar sidebar-offcanvas">
        <!-- WIDGET CATEGORIES-->
        <section class="widget widget-categories">
          <h3 class="widget-title">Shop Categories</h3>
          <ul>
            <li class="has-children expanded"><a href="javascript:void(0)">Shoes</a><span>(1138)</span>
              <ul>
                <li><a href="javascript:void(0)">Women's</a><span>(508)</span>
                  <ul>
                    <li><a href="javascript:void(0)">Sneakers</a></li>
                    <li><a href="javascript:void(0)">Heels</a></li>
                    <li><a href="javascript:void(0)">Loafers</a></li>
                    <li><a href="javascript:void(0)">Sandals</a></li>
                  </ul>
                </li>
                <li><a href="javascript:void(0)">Men's</a><span>(423)</span>
                  <ul>
                    <li><a href="javascript:void(0)">Boots</a></li>
                    <li><a href="javascript:void(0)">Oxfords</a></li>
                    <li><a href="javascript:void(0)">Loafers</a></li>
                    <li><a href="javascript:void(0)">Sandals</a></li>
                  </ul>
                </li>
                <li><a href="javascript:void(0)">Boy's Shoes</a><span>(97)</span></li>
                <li><a href="javascript:void(0)">Girl's Shoes</a><span>(110)</span></li>
              </ul>
            </li>
            <li class="has-children"><a href="javascript:void(0)">Clothing</a><span>(2356)</span>
              <ul>
                <li><a href="javascript:void(0)">Women's</a><span>(1032)</span>
                  <ul>
                    <li><a href="javascript:void(0)">Dresses</a></li>
                    <li><a href="javascript:void(0)">Shirts &amp; Tops</a></li>
                    <li><a href="javascript:void(0)">Swimwear</a></li>
                    <li><a href="javascript:void(0)">Shorts</a></li>
                  </ul>
                </li>
                <li><a href="javascript:void(0)">Men's</a><span>(937)</span>
                  <ul>
                    <li><a href="javascript:void(0)">Shirts &amp; Tops</a></li>
                    <li><a href="javascript:void(0)">Shorts</a></li>
                    <li><a href="javascript:void(0)">Swimwear</a></li>
                    <li><a href="javascript:void(0)">Pants</a></li>
                  </ul>
                </li>
                <li><a href="javascript:void(0)">Kid's Clothing</a><span>(386)</span></li>
              </ul>
            </li>
            <li class="has-children"><a href="javascript:void(0)">Bags</a><span>(420)</span>
              <ul>
                <li><a href="javascript:void(0)">Handbags</a><span>(180)</span></li>
                <li><a href="javascript:void(0)">Backpacks</a><span>(132)</span></li>
                <li><a href="javascript:void(0)">Wallets &amp; Accessories</a><span>(47)</span></li>
                <li><a href="javascript:void(0)">Luggage</a><span>(61)</span></li>
              </ul>
            </li>
            <li class="has-children"><a href="javascript:void(0)">Accessories</a><span>(874)</span>
              <ul>
                <li><a href="javascript:void(0)">Sunglasses</a><span>(211)</span></li>
                <li><a href="javascript:void(0)">Hats</a><span>(195)</span></li>
                <li><a href="javascript:void(0)">Watches</a><span>(159)</span></li>
                <li><a href="javascript:void(0)">Jewelry</a><span>(203)</span></li>
                <li><a href="javascript:void(0)">Belts</a><span>(106)</span></li>
              </ul>
            </li>
          </ul>
        </section>
        <!-- WIDGET PRICE RANGE-->
        <section class="widget widget-categories">
          <h3 class="widget-title">Price Range</h3>
          <form class="price-range-slider" method="post" data-start-min="250" data-start-max="650"
                data-min="0" data-max="1000" data-step="1">
            <div class="ui-range-slider"></div>
            <footer class="ui-range-slider-footer">
              <div class="column">
                <button class="btn btn-outline-primary btn-sm" type="submit">Filter</button>
              </div>
              <div class="column">
                <div class="ui-range-values">
                  <div class="ui-range-value-min">$<span></span>
                    <input type="hidden">
                  </div>&nbsp;-&nbsp;
                  <div class="ui-range-value-max">$<span></span>
                    <input type="hidden">
                  </div>
                </div>
              </div>
            </footer>
          </form>
        </section>
        <!-- WIDGET BRAND FILTER-->
        <section class="widget">
          <h3 class="widget-title">Filter by Brand</h3>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="adidas">
            <label class="custom-control-label" for="adidas">Adidas&nbsp;<span
                    class="text-muted">(254)</span></label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="bilabong">
            <label class="custom-control-label" for="bilabong">Bilabong&nbsp;<span
                    class="text-muted">(39)</span></label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="klein">
            <label class="custom-control-label" for="klein">Calvin Klein&nbsp;<span
                    class="text-muted">(128)</span></label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="nike">
            <label class="custom-control-label" for="nike">Nike&nbsp;<span
                    class="text-muted">(310)</span></label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="bahama">
            <label class="custom-control-label" for="bahama">Tommy Bahama&nbsp;<span
                    class="text-muted">(42)</span></label>
          </div>
        </section>
        <!-- Widget Size Filter-->
        <section class="widget">
          <h3 class="widget-title">Filter by Size</h3>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="xl">
            <label class="custom-control-label" for="xl">XL&nbsp;<span
                    class="text-muted">(208)</span></label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="l">
            <label class="custom-control-label" for="l">L&nbsp;<span
                    class="text-muted">(311)</span></label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="m">
            <label class="custom-control-label" for="m">M&nbsp;<span
                    class="text-muted">(485)</span></label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="s">
            <label class="custom-control-label" for="s">S&nbsp;<span
                    class="text-muted">(213)</span></label>
          </div>
        </section>
      </aside>
    </div>
  </div>
</div>