<div class="container">
  <!-- BEGIN ROW -->
  <div class="row">
    <!-- BEGIN COL-9 -->
    <div class="col-lg-9 col-md-8 order-md-1">

      <h6 class="text-muted text-normal text-uppercase">Background Image Version</h6>
      <hr class="margin-bottom-1x">
      <div class="alert alert-image-bg alert-dismissible fade show text-center margin-bottom-1x bg_svg_blue">
        <span class="alert-close text-white" data-dismiss="alert"></span>
        <div class="h3 text-medium text-white padding-top-1x padding-bottom-1x">
          <i class="icon-clock" style="font-size: 33px; margin-top: -5px;"></i>
          &nbsp;&nbsp;Check our Limited Offers. Save up to 50%&nbsp;&nbsp;&nbsp;
          <div class="mt-3 hidden-xl-up"></div>
          <a class="btn btn-primary" href="javascript:void(0)">View Offers</a>
        </div>
      </div>
      <div class="alert alert-image-bg alert-dismissible fade show text-center margin-bottom-1x bg_svg_green">
        <span class="alert-close text-white" data-dismiss="alert"></span>
        <div class="h3 text-medium text-white padding-top-1x padding-bottom-1x">
          <i class="icon-clock" style="font-size: 33px; margin-top: -5px;"></i>
          &nbsp;&nbsp;Check our Limited Offers. Save up to 50%&nbsp;&nbsp;&nbsp;
          <div class="mt-3 hidden-xl-up"></div>
          <a class="btn btn-primary" href="javascript:void(0)">View Offers</a>
        </div>
      </div>
      <div class="alert alert-image-bg alert-dismissible fade show text-center margin-bottom-1x bg_svg_red">
        <span class="alert-close text-white" data-dismiss="alert"></span>
        <div class="h3 text-medium text-white padding-top-1x padding-bottom-1x">
          <i class="icon-clock" style="font-size: 33px; margin-top: -5px;"></i>
          &nbsp;&nbsp;Check our Limited Offers. Save up to 50%&nbsp;&nbsp;&nbsp;
          <div class="mt-3 hidden-xl-up"></div>
          <a class="btn btn-primary" href="javascript:void(0)">View Offers</a>
        </div>
      </div>


      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Background Video Version</h6>
      <hr class="margin-bottom-1x">
      <div class="alert alert-image-bg alert-dismissible fade show text-center margin-bottom-1x p-0">
        <div class="video_content">
          <div class="video_title"><p class="video_title_text">Check our Limited Offers</p>
            <h2 class="video_desc">Save up to 50% <a href="javascript:void(0)" class="f-s-14 btn btn-primary">View  Offers</a></h2></div>
          <div class="video-player">
            <video class="video_tag"
                   src="assets/img/ui_elements/free-video.mp4"
                   poster="http://via.placeholder.com/670x350"
                   loop="loop" autoplay></video>
          </div>
        </div>
        <span class="alert-close text-white" style="z-index: 2;" data-dismiss="alert"></span>
      </div>


      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Color Variations</h6>
      <hr class="margin-bottom-1x">
      <div class="alert alert-default alert-dismissible fade show margin-bottom-1x">
        <span class="alert-close" data-dismiss="alert"></span>
        <h3>Hello World!</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro minus sint optio explicabo eum
          perspiciatis ipsam adipisci, excepturi repellendus debitis fugit laborum quae, aspernatur ex
          neque hic nihil, reiciendis veritatis.
        </p>
      </div>
      <div class="alert alert-primary alert-dismissible fade show text-center margin-bottom-1x">
        <span class="alert-close" data-dismiss="alert"></span>
        <i class="icon-camera"></i>&nbsp;&nbsp;<strong>Primary alert:</strong>
        Deserunt praesentium laboriosam
      </div>
      <div class="alert alert-info alert-dismissible fade show text-center margin-bottom-1x">
        <span class="alert-close" data-dismiss="alert"></span>
        <i class="icon-layers"></i>&nbsp;&nbsp;<strong>Info alert:</strong>
        Deserunt praesentium laboriosam quaerat mollitia.
      </div>
      <div class="alert alert-success alert-dismissible fade show text-center margin-bottom-1x">
        <span class="alert-close" data-dismiss="alert"></span>
        <i class="icon-help"></i>&nbsp;&nbsp;<strong>Success alert:</strong>
        Deserunt praesentium laboriosam quaerat mollitia.
      </div>
      <div class="alert alert-warning alert-dismissible fade show text-center margin-bottom-1x">
        <span class="alert-close" data-dismiss="alert"></span>
        <i class="icon-bell"></i>&nbsp;&nbsp;<strong>Warning alert:</strong>
        Deserunt praesentium laboriosam quaerat mollitia.
      </div>
      <div class="alert alert-danger alert-dismissible fade show text-center margin-bottom-1x">
        <span class="alert-close" data-dismiss="alert"></span>
        <i class="icon-ban"></i>&nbsp;&nbsp;<strong>Danger alert:</strong>
        Deserunt praesentium laboriosam quaerat mollitia.
      </div>

    </div>
    <!-- END COL-9 -->

    <!-- BEGIN COL-3 -->
    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
      <!-- SIDE MENU-->
      <nav class="list-group" id="ui_elements_nav">
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/accordion">Accordion</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/alerts">Alerts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/buttons">Buttons</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/cards">Cards</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/forms">Forms</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/formLayouts">Form Layouts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/gallery">Gallery</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/images">Images & Figures</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/listGroup">List Group</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/mediaObject">Media Object</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/modals">Modal</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pagination">Pagination</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pills">Pills</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/progressBars">Progress Bars</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/steps">Steps</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tables">Tables</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tabs">Tabs</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/toastNotification">Toast
          Notifications</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/sweetAlert">Sweet Alert</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tooltips">Tooltips & Popovers</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/typography">Typography</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="widgets">Widgets</a>

      </nav>
    </div>
    <!-- END COL-3 -->
  </div>
  <!-- END ROW -->
</div>