<div class="container" id="container">
  <!-- BEGIN ROW -->
  <div class="row">
    <!-- BEGIN COL-9 -->
    <div class="col-lg-9 col-md-8 order-md-1">

      <h6 class="text-muted text-normal text-uppercase">Shapes &amp; Sizes</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="large-pill-input">Large pill input</label>
            <input class="form-control form-control-lg" type="text" id="large-pill-input"
                   placeholder="Large pill input">
          </div>
          <div class="form-group">
            <label for="normal-pill-input">Default pill input</label>
            <input class="form-control" type="text" id="normal-pill-input"
                   placeholder="Default pill input">
          </div>
          <div class="form-group">
            <label for="small-pill-input">Small pill input</label>
            <input class="form-control form-control-sm" type="text" id="small-pill-input"
                   placeholder="Small pill input">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="large-rounded-input">Large rounded input</label>
            <input class="form-control form-control-rounded form-control-lg" type="text"
                   id="large-rounded-input" placeholder="Large rounded input">
          </div>
          <div class="form-group">
            <label for="normal-rounded-input">Default rounded input</label>
            <input class="form-control form-control-rounded" type="text" id="normal-rounded-input"
                   placeholder="Default rounded input">
          </div>
          <div class="form-group">
            <label for="small-rounded-input">Small rounded input</label>
            <input class="form-control form-control-rounded form-control-sm" type="text"
                   id="small-rounded-input" placeholder="Small rounded input">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="large-square-input">Large square input</label>
            <input class="form-control form-control-square form-control-lg" type="text"
                   id="large-square-input" placeholder="Large square input">
          </div>
          <div class="form-group">
            <label for="normal-square-input">Default square input</label>
            <input class="form-control form-control-square" type="text" id="normal-square-input"
                   placeholder="Default square input">
          </div>
          <div class="form-group">
            <label for="small-square-input">Small square input</label>
            <input class="form-control form-control-square form-control-sm" type="text"
                   id="small-square-input" placeholder="Small square input">
          </div>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Checkboxes &amp; Radio buttons</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-sm-6 form-group">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="ex-check-1">
            <label class="custom-control-label" for="ex-check-1">Check this checkbox</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="ex-check-2" checked>
            <label class="custom-control-label" for="ex-check-2">Uncheck this checkbox</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="ex-check-3" disabled>
            <label class="custom-control-label" for="ex-check-3">Disabled checkbox</label>
          </div>
        </div>
        <div class="col-sm-6 form-group">
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" id="ex-radio-1" name="radio">
            <label class="custom-control-label" for="ex-radio-1">Toggle this radio</label>
          </div>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" id="ex-radio-2" name="radio" checked>
            <label class="custom-control-label" for="ex-radio-2">Toggle this radio</label>
          </div>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" id="ex-radio-3" name="radio" disabled>
            <label class="custom-control-label" for="ex-radio-3">Disabled radio</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox custom-control-inline">
          <input class="custom-control-input" type="checkbox" id="ex-check-4">
          <label class="custom-control-label" for="ex-check-4">Check this checkbox</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input class="custom-control-input" type="checkbox" id="ex-check-5" checked>
          <label class="custom-control-label" for="ex-check-5">Uncheck this checkbox</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input class="custom-control-input" type="checkbox" id="ex-check-6" disabled>
          <label class="custom-control-label" for="ex-check-6">Disabled checkbox</label>
        </div>
      </div>
      <div class="form-group">
        <div class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input" type="radio" id="ex-radio-4" name="radio2">
          <label class="custom-control-label" for="ex-radio-4">Toggle this radio</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input" type="radio" id="ex-radio-5" name="radio2" checked>
          <label class="custom-control-label" for="ex-radio-5">Toggle this radio</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input" type="radio" id="ex-radio-6" name="radio2" disabled>
          <label class="custom-control-label" for="ex-radio-6">Disabled radio</label>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase margin-top-2x">Validation states</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-lg-10">
          <div class="form-group has-success">
            <label for="input-success">Input with success</label>
            <input class="form-control form-control-success" type="text" id="input-success">
            <div class="form-control-feedback">Success! You've done it.</div>
            <small class="form-text text-muted">Example help text that remains unchanged.</small>
          </div>
          <div class="form-group has-warning">
            <label for="input-warning">Input with warning</label>
            <input class="form-control form-control-warning" type="text" id="input-warning">
            <div class="form-control-feedback">Shucks, check the formatting of that and try again.</div>
            <small class="form-text text-muted">Example help text that remains unchanged.</small>
          </div>
          <div class="form-group has-danger">
            <label for="input-danger">Input with warning</label>
            <input class="form-control form-control-danger" type="text" id="input-danger">
            <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
            <small class="form-text text-muted">Example help text that remains unchanged.</small>
          </div>
        </div>
      </div>
      <div class="row padding-top-1x">
        <div class="col-sm-6">
          <div class="has-success">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="ex-check-7">
              <label class="custom-control-label" for="ex-check-7">Check this checkbox</label>
            </div>
          </div>
          <div class="has-warning">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="ex-check-8">
              <label class="custom-control-label" for="ex-check-8">Check this checkbox</label>
            </div>
          </div>
          <div class="has-danger">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="ex-check-9">
              <label class="custom-control-label" for="ex-check-9">Check this checkbox</label>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="has-success">
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" id="ex-radio-7" name="radio2">
              <label class="custom-control-label" for="ex-radio-7">Toggle this radio</label>
            </div>
          </div>
          <div class="has-warning">
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" id="ex-radio-8" name="radio2">
              <label class="custom-control-label" for="ex-radio-8">Toggle this radio</label>
            </div>
          </div>
          <div class="has-danger">
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" id="ex-radio-9" name="radio2">
              <label class="custom-control-label" for="ex-radio-9">Toggle this radio</label>
            </div>
          </div>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase margin-top-2x">Disabled states</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-lg-10">
          <form>
            <fieldset disabled>
              <div class="form-group">
                <label for="disabledTextInput">Disabled input</label>
                <input class="form-control" type="text" id="disabledTextInput"
                       placeholder="Disabled input">
              </div>
              <div class="form-group">
                <label for="disabledSelect">Disabled select</label>
                <select class="form-control" id="disabledSelect">
                  <option>Disabled select</option>
                </select>
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="ex-check-10">
                  <label class="custom-control-label" for="ex-check-10">Can't check this</label>
                </div>
              </div>
              <button class="btn btn-primary margin-top-none" type="submit" disabled>Submit</button>
            </fieldset>
          </form>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase margin-top-2x">Input group</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group">
            <input class="form-control form-control-lg" type="text" placeholder="Username"><span
                  class="input-group-addon"><i class="icon-head"></i></span>
          </div>
        </div>
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group">
            <input class="form-control" type="email" placeholder="Email"><span
                  class="input-group-addon"><i class="icon-mail"></i></span>
          </div>
        </div>
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group">
            <input class="form-control form-control-sm" type="password" placeholder="Password"><span
                  class="input-group-addon"><i class="icon-lock"></i></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group has-success">
            <input class="form-control" type="text" placeholder="Username"><span
                  class="input-group-addon"><i class="icon-head"></i></span>
          </div>
        </div>
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group has-warning">
            <input class="form-control" type="email" placeholder="Email"><span
                  class="input-group-addon"><i class="icon-mail"></i></span>
          </div>
        </div>
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group has-danger">
            <input class="form-control" type="password" placeholder="Password"><span
                  class="input-group-addon"><i class="icon-lock"></i></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 margin-bottom-1x">
          <form class="input-group form-group" method="get"><span class="input-group-btn">
                    <button type="submit"><i class="icon-search"></i></button></span>
            <input class="form-control" type="search" placeholder="Search site">
          </form>
        </div>
        <div class="col-sm-6 margin-bottom-1x">
          <form class="input-group form-group" method="get"><span class="input-group-btn">
                    <button type="submit"><i class="icon-arrow-right"></i></button></span>
            <input class="form-control" type="email" placeholder="Subscribe to newsletter">
          </form>
        </div>
      </div>
    </div>
    <!-- END COL-9 -->

    <!-- BEGIN COL-3 -->
    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
      <!-- SIDE MENU-->
      <nav class="list-group" id="ui_elements_nav">
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/accordion">Accordion</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/alerts">Alerts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/buttons">Buttons</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/cards">Cards</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/forms">Forms</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/formLayouts">Form Layouts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/gallery">Gallery</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/images">Images & Figures</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/listGroup">List Group</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/mediaObject">Media Object</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/modals">Modal</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pagination">Pagination</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pills">Pills</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/progressBars">Progress Bars</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/steps">Steps</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tables">Tables</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tabs">Tabs</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/toastNotification">Toast
          Notifications</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/sweetAlert">Sweet Alert</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tooltips">Tooltips & Popovers</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/typography">Typography</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="widgets">Widgets</a>

      </nav>
    </div>
    <!-- END COL-3 -->
  </div>
  <!-- END ROW -->
</div>