<div class="container" id="container">
  <!-- BEGIN ROW -->
  <div class="row">
    <!-- BEGIN COL-9 -->
    <div class="col-lg-9 col-md-8 order-md-1">
      <h6 class="text-muted text-normal text-uppercase">Pills with Dropdown</h6>
      <hr class="margin-bottom-1x">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="javascript:void(0)">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" role="button">Dropdown</a>
          <div class="dropdown-menu"><a class="dropdown-item" href="javascript:void(0)">Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Another Action</a>
            <a class="dropdown-item" href="javascript:void(0)">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
          </div>
        </li>
        <li class="nav-item hidden-sm-down"><a class="nav-link disabled" href="javascript:void(0)">Disabled</a></li>
      </ul>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Switching Content</h6>
      <hr class="margin-bottom-1x">
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#home" data-toggle="tab" role="tab">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#profile" data-toggle="tab" role="tab">Profile</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab" role="tab">Settings</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home" role="tabpanel">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
            aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
            helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh
            mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
            aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel">
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
            four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft
            beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
            labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit
            sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
            tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
        <div class="tab-pane fade" id="settings" role="tabpanel">
          <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic
            lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork
            tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica.
            DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh
            mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog.
            Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown.
            Pitchfork sustainable tofu synth chambray yr.</p>
        </div>
      </div>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Pills with Icons</h6>
      <hr class="margin-bottom-1x">
      <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link active" href="javascript:void(0)"><i class="icon-help"></i>Help</a></li>
        <li class="nav-item"><a class="nav-link" href="javascript:void(0)"><i class="icon-head"></i>Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="javascript:void(0)"><i class="icon-cog"></i>Settings</a></li>
      </ul>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Justified Pills</h6>
      <hr class="margin-bottom-1x">
      <ul class="nav nav-pills nav-justified">
        <li class="nav-item"><a class="nav-link active" href="javascript:void(0)">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Settings</a></li>
      </ul>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Align Center</h6>
      <hr class="margin-bottom-1x">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item"><a class="nav-link active" href="javascript:void(0)">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Settings</a></li>
      </ul>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Align Right</h6>
      <hr class="margin-bottom-1x">
      <ul class="nav nav-pills justify-content-end">
        <li class="nav-item"><a class="nav-link active" href="javascript:void(0)">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Settings</a></li>
      </ul>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Vertical Pills</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-6">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link active" href="javascript:void(0)">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Settings</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- END COL-9 -->

    <!-- BEGIN COL-3 -->
    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
      <!-- SIDE MENU-->
      <nav class="list-group" id="ui_elements_nav">
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/accordion">Accordion</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/alerts">Alerts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/buttons">Buttons</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/cards">Cards</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/forms">Forms</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/formLayouts">Form Layouts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/gallery">Gallery</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/images">Images & Figures</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/listGroup">List Group</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/mediaObject">Media Object</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/modals">Modal</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pagination">Pagination</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pills">Pills</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/progressBars">Progress Bars</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/steps">Steps</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tables">Tables</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tabs">Tabs</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/toastNotification">Toast
          Notifications</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/sweetAlert">Sweet Alert</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tooltips">Tooltips & Popovers</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/typography">Typography</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="widgets">Widgets</a>

      </nav>
    </div>
    <!-- END COL-3 -->
  </div>
  <!-- END ROW -->
</div>