<div class="p-b-0 email_page">
  <div class="pvr-email-w">
    <div class="pvr-email-i">
      <div class="pvr-list-w">
        <div class="pvr-list">
          <div class="pvr-item with-status active status-green">
            <div class="pvr-image">
              <div class="user-avatar-w">
                <img alt="" src="http://via.placeholder.com/128x128">
              </div>
            </div>
            <div class="pvr-content">
              <div class="aei-timestamp">
                1:25pm
              </div>
              <h6 class="aei-title">
                Envato Market
              </h6>
              <div class="aei-sub-title">
                [ThemeForest] Your item, Taxi Websi...
              </div>
              <div class="pvr-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </div>
            </div>
          </div>
          <div class="pvr-item with-status  status-green">
            <div class="pvr-image">
              <div class="user-avatar-w">
                <img alt="" src="http://via.placeholder.com/128x128">
              </div>
            </div>
            <div class="pvr-content">
              <div class="aei-timestamp">
                11:12am
              </div>
              <h6 class="aei-title">
                Back end programming
              </h6>
              <div class="aei-sub-title">
                here is the usage for goole map api...
              </div>
              <div class="pvr-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </div>
            </div>
          </div>
          <div class="pvr-item with-status  status-red">
            <div class="pvr-image">
              <div class="user-avatar-w">
                <img alt="" src="http://via.placeholder.com/128x128">
              </div>
            </div>
            <div class="pvr-content">
              <div class="aei-timestamp">
                9:07am
              </div>
              <h6 class="aei-title">
                Google Play
              </h6>
              <div class="aei-sub-title">
                Pre-register for new games
              </div>
              <div class="pvr-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </div>
            </div>
          </div>
          <div class="pvr-item with-status  status-green">
            <div class="pvr-image">
              <div class="user-avatar-w">
                <img alt="" src="http://via.placeholder.com/128x128">
              </div>
            </div>
            <div class="pvr-content">
              <div class="aei-timestamp">
                6:34am
              </div>
              <h6 class="aei-title">
                Titan EyePlus
              </h6>
              <div class="aei-sub-title">
                TrendAlert: Round Sunglasses
              </div>
              <div class="pvr-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </div>
            </div>
          </div>
          <div class="pvr-item with-status  status-blue">
            <div class="pvr-image">
              <div class="user-avatar-w">
                <img alt="" src="http://via.placeholder.com/128x128">
              </div>
            </div>
            <div class="pvr-content">
              <div class="aei-timestamp">
                Yesterday
              </div>
              <h6 class="aei-title">
                Bankinformation@kotak.com
              </h6>
              <div class="aei-sub-title">
                Usage of Chip Cards
              </div>
              <div class="pvr-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </div>
            </div>
          </div>
          <div class="pvr-item with-status  status-blue">
            <div class="pvr-image">
              <div class="user-avatar-w">
                <img alt="" src="http://via.placeholder.com/128x128">
              </div>
            </div>
            <div class="pvr-content">
              <div class="aei-timestamp">
                Yesterday
              </div>
              <h6 class="aei-title">
                Envato Forums summary
              </h6>
              <div class="aei-sub-title">
                [Envato Forums] Summary
              </div>
              <div class="pvr-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </div>
            </div>
          </div>
          <div class="pvr-item with-status  status-green">
            <div class="pvr-image">
              <div class="user-avatar-w">
                <img alt="" src="http://via.placeholder.com/128x128">
              </div>
            </div>
            <div class="pvr-content">
              <div class="aei-timestamp">
                Yesterday
              </div>
              <h6 class="aei-title">
                MailChimp
              </h6>
              <div class="aei-sub-title">
                Get stuff done wherever you are
              </div>
              <div class="pvr-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </div>
            </div>
          </div>
          <div class="pvr-item with-status  status-yellow">
            <div class="pvr-image">
              <div class="user-avatar-w">
                <img alt="" src="http://via.placeholder.com/128x128">
              </div>
            </div>
            <div class="pvr-content">
              <div class="aei-timestamp">
                2 days ago
              </div>
              <h6 class="aei-title">
                PayPal
              </h6>
              <div class="aei-sub-title">
                We have updates on our Policy
              </div>
              <div class="pvr-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pvr-content-w">
        <div class="ae-content">
          <div class="pvr-full-message-w show-pack">
            <div class="aec-full-message">
              <div class="message-head">
                <div class="user-w with-status status-green">
                  <div class="user-avatar-w">
                    <div class="user-avatar">
                      <img alt="" src="http://via.placeholder.com/128x128">
                    </div>
                  </div>
                  <div class="user-name">
                    <h6 class="user-title">
                      Envato Market
                    </h6>
                    <div class="user-role">
                      Envato Market <span>do-not-reply@market.envato.com</span>
                    </div>
                  </div>
                </div>
                <div class="message-info">
                  April 10th, 2018<br>3 days ago
                </div>
              </div>
              <div class="message-content">
                Hi PVR Tech Studio,<br><br>Congratulations! Your update to PVR Tech Admin
                Multipurpose Bootstrap Responsive Template with Crypto Dashboard on ThemeForest has
                been approved. You can view your item here:<br><br>
                <a href="http://themeforest.net/item/pvr-tech-admin-multipurpose-bootstrap-dashboard-template/21512186"
                   target="_blank">http://themeforest.net/item/pvr-tech-admin-multipurpose-bootstrap-dashboard-template/21512186</a>
                <br><br>Thanks for your submission!<br>
                Regards,<br>
                Envato Market Team<br>
                Questions? See our Knowledgebase and Support Center at <br>
                https://help.market.envato.com<br>
                <br><br>Regards,<br>Mike
                Mayers
                <div class="message-attachments">
                  <div class="attachments-heading">
                    Attachments
                  </div>
                  <div class="attachments-docs">
                    <a href="javascript:void(0)">
                      <i class="os-icon icon-upload"></i><span>Excel Document</span>
                    </a>
                    <a href="javascript:void(0)">
                      <i class="os-icon icon-file-add"></i><span>Image File</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pvr-reply">
            <div class="reply-header">
              <h5>
                Reply to <span>Envato Market</span>
              </h5>
            </div>
            <textarea cols="80" id="ckeditorEmail" name="ckeditor1" rows="5"></textarea>
            <div class="buttons-w">
              <div class="actions-left">
                <a class="btn btn-link" style="padding: 0 22px;" href="javascript:void(0)"><i
                        class="os-icon os-icon-ui-51"></i><span>Add Attachment</span></a>
              </div>
              <div class="actions-right">
                <a class="btn btn-primary" style="padding: 0 22px;" href="javascript:void(0)">Send
                  Message</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>