<div class="container">
  <!-- BEGIN ROW -->
  <div class="row">
    <!-- BEGIN COL-12 -->
    <div class="col-lg-12 col-md-12 order-md-1">
      <div class="row">
        <div class="col-sm-6 margin-bottom-2x pb-2">
          <h6 class="text-muted text-normal text-uppercase">Default Layout</h6>
          <hr class="margin-bottom-1x">
          <form action="" method="POST">
            <fieldset>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="ex-check-1">
                <label class="custom-control-label" for="ex-check-1">Remember me</label>
              </div>
              <button type="submit" class="btn btn-sm btn-primary m-r-5">Login</button>
              <button type="submit" class="btn btn-sm btn-outline-primary">Cancel</button>
            </fieldset>
          </form>
        </div>

        <div class="col-sm-6 margin-bottom-2x pb-2">
          <h6 class="text-muted text-normal text-uppercase">Default Layout Rounded</h6>
          <hr class="margin-bottom-1x">
          <form action="" method="POST">
            <fieldset>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control form-control-rounded" id="exampleInputEmail2" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control form-control-rounded" id="exampleInputPassword2" placeholder="Password">
              </div>
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="ex-check-2">
                <label class="custom-control-label" for="ex-check-2">Remember me</label>
              </div>
              <button type="submit" class="btn btn-sm btn-primary m-r-5">Login</button>
              <button type="submit" class="btn btn-sm btn-outline-primary">Cancel</button>
            </fieldset>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 margin-bottom-2x pb-2">
          <h6 class="text-muted text-normal text-uppercase">Horizontal Layout</h6>
          <hr class="margin-bottom-1x">
          <form class="">
            <div class="form-group row">
              <label class="col-3 col-form-label" for="exampleInputEmail3">Email ID</label>
              <div class="col-9">
                <input class="form-control" type="text" id="exampleInputEmail3" value="">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label" for="exampleInputPassword3">Password</label>
              <div class="col-9">
                <input class="form-control" type="password" id="exampleInputPassword3" value="">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="ex-check-3">
                  <label class="custom-control-label" for="ex-check-3">Remember me</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <button type="submit" class="btn btn-sm btn-primary m-r-5">Login</button>
                <button type="submit" class="btn btn-sm btn-outline-primary">Cancel</button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-sm-6 margin-bottom-2x pb-2">
          <h6 class="text-muted text-normal text-uppercase">Horizontal Layout Rounded</h6>
          <hr class="margin-bottom-1x">
          <form class="">
            <div class="form-group row">
              <label class="col-3 col-form-label" for="exampleInputEmail4">Email ID</label>
              <div class="col-9">
                <input class="form-control form-control-rounded" type="text" id="exampleInputEmail4" value="">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label" for="exampleInputPassword4">Password</label>
              <div class="col-9">
                <input class="form-control form-control-rounded" type="password" id="exampleInputPassword4" value="">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" id="ex-check-4">
                  <label class="custom-control-label" for="ex-check-4">Remember me</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <button type="submit" class="btn btn-sm btn-primary m-r-5">Login</button>
                <button type="submit" class="btn btn-sm btn-outline-primary">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase">Checkboxes &amp; Radio buttons</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-sm-6 form-group">
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="ex-check-5">
            <label class="custom-control-label" for="ex-check-5">Check this checkbox</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="ex-check-6" checked>
            <label class="custom-control-label" for="ex-check-6">Uncheck this checkbox</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input class="custom-control-input" type="checkbox" id="ex-check-7" disabled>
            <label class="custom-control-label" for="ex-check-7">Disabled checkbox</label>
          </div>
        </div>
        <div class="col-sm-6 form-group">
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" id="ex-radio-1" name="radio">
            <label class="custom-control-label" for="ex-radio-1">Toggle this radio</label>
          </div>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" id="ex-radio-2" name="radio" checked>
            <label class="custom-control-label" for="ex-radio-2">Toggle this radio</label>
          </div>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" type="radio" id="ex-radio-3" name="radio" disabled>
            <label class="custom-control-label" for="ex-radio-3">Disabled radio</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox custom-control-inline">
          <input class="custom-control-input" type="checkbox" id="ex-check-8">
          <label class="custom-control-label" for="ex-check-8">Check this checkbox</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input class="custom-control-input" type="checkbox" id="ex-check-9" checked>
          <label class="custom-control-label" for="ex-check-9">Uncheck this checkbox</label>
        </div>
        <div class="custom-control custom-checkbox custom-control-inline">
          <input class="custom-control-input" type="checkbox" id="ex-check-10" disabled>
          <label class="custom-control-label" for="ex-check-10">Disabled checkbox</label>
        </div>
      </div>
      <div class="form-group">
        <div class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input" type="radio" id="ex-radio-4" name="radio2">
          <label class="custom-control-label" for="ex-radio-4">Toggle this radio</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input" type="radio" id="ex-radio-5" name="radio2" checked>
          <label class="custom-control-label" for="ex-radio-5">Toggle this radio</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input class="custom-control-input" type="radio" id="ex-radio-6" name="radio2" disabled>
          <label class="custom-control-label" for="ex-radio-6">Disabled radio</label>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase margin-top-2x">Validation states</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-lg-10">
          <div class="form-group has-success">
            <label for="input-success">Input with success</label>
            <input class="form-control form-control-success" type="text" id="input-success">
            <div class="form-control-feedback">Success! You've done it.</div>
            <small class="form-text text-muted">Example help text that remains unchanged.</small>
          </div>
          <div class="form-group has-warning">
            <label for="input-warning">Input with warning</label>
            <input class="form-control form-control-warning" type="text" id="input-warning">
            <div class="form-control-feedback">Shucks, check the formatting of that and try again.</div>
            <small class="form-text text-muted">Example help text that remains unchanged.</small>
          </div>
          <div class="form-group has-danger">
            <label for="input-danger">Input with warning</label>
            <input class="form-control form-control-danger" type="text" id="input-danger">
            <div class="form-control-feedback">Sorry, that username's taken. Try another?</div>
            <small class="form-text text-muted">Example help text that remains unchanged.</small>
          </div>
        </div>
      </div>
      <div class="row padding-top-1x">
        <div class="col-sm-6">
          <div class="has-success">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="ex-check-11">
              <label class="custom-control-label" for="ex-check-11">Check this checkbox</label>
            </div>
          </div>
          <div class="has-warning">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="ex-check-12">
              <label class="custom-control-label" for="ex-check-12">Check this checkbox</label>
            </div>
          </div>
          <div class="has-danger">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="ex-check-13">
              <label class="custom-control-label" for="ex-check-13">Check this checkbox</label>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="has-success">
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" id="ex-radio-7" name="radio2">
              <label class="custom-control-label" for="ex-radio-7">Toggle this radio</label>
            </div>
          </div>
          <div class="has-warning">
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" id="ex-radio-8" name="radio2">
              <label class="custom-control-label" for="ex-radio-8">Toggle this radio</label>
            </div>
          </div>
          <div class="has-danger">
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" id="ex-radio-9" name="radio2">
              <label class="custom-control-label" for="ex-radio-9">Toggle this radio</label>
            </div>
          </div>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase margin-top-2x">Input group</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group">
            <input class="form-control form-control-lg" type="text" placeholder="Username"><span
                  class="input-group-addon"><i class="icon-head"></i></span>
          </div>
        </div>
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group">
            <input class="form-control" type="email" placeholder="Email"><span
                  class="input-group-addon"><i class="icon-mail"></i></span>
          </div>
        </div>
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group">
            <input class="form-control form-control-sm" type="password" placeholder="Password"><span
                  class="input-group-addon"><i class="icon-lock"></i></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group has-success">
            <input class="form-control" type="text" placeholder="Username"><span
                  class="input-group-addon"><i class="icon-head"></i></span>
          </div>
        </div>
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group has-warning">
            <input class="form-control" type="email" placeholder="Email"><span
                  class="input-group-addon"><i class="icon-mail"></i></span>
          </div>
        </div>
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group has-danger">
            <input class="form-control" type="password" placeholder="Password"><span
                  class="input-group-addon"><i class="icon-lock"></i></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 margin-bottom-1x">
          <form class="input-group form-group" method="get"><span class="input-group-btn">
                    <button type="submit"><i class="icon-search"></i></button></span>
            <input class="form-control" type="search" placeholder="Search site">
          </form>
        </div>
        <div class="col-sm-6 margin-bottom-1x">
          <form class="input-group form-group" method="get"><span class="input-group-btn">
                    <button type="submit"><i class="icon-arrow-right"></i></button></span>
            <input class="form-control" type="email" placeholder="Subscribe to newsletter">
          </form>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase">Input group</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group">
            <input class="form-control form-control-lg" type="text" placeholder="Username"><span
                  class="input-group-addon"><i class="icon-head"></i></span>
          </div>
        </div>
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group">
            <input class="form-control" type="email" placeholder="Email"><span
                  class="input-group-addon"><i class="icon-mail"></i></span>
          </div>
        </div>
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group">
            <input class="form-control form-control-sm" type="password" placeholder="Password"><span
                  class="input-group-addon"><i class="icon-lock"></i></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group has-success">
            <input class="form-control" type="text" placeholder="Username"><span
                  class="input-group-addon"><i class="icon-head"></i></span>
          </div>
        </div>
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group has-warning">
            <input class="form-control" type="email" placeholder="Email"><span
                  class="input-group-addon"><i class="icon-mail"></i></span>
          </div>
        </div>
        <div class="col-sm-4 margin-bottom-1x">
          <div class="input-group has-danger">
            <input class="form-control" type="password" placeholder="Password"><span
                  class="input-group-addon"><i class="icon-lock"></i></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 margin-bottom-1x">
          <form class="input-group form-group" method="get"><span class="input-group-btn">
                    <button type="submit"><i class="icon-search"></i></button></span>
            <input class="form-control" type="search" placeholder="Search site">
          </form>
        </div>
        <div class="col-sm-6 margin-bottom-1x">
          <form class="input-group form-group" method="get"><span class="input-group-btn">
                    <button type="submit"><i class="icon-arrow-right"></i></button></span>
            <input class="form-control" type="email" placeholder="Subscribe to newsletter">
          </form>
        </div>
      </div>
    </div>
    <!-- END COL-12 -->
  </div>
  <!-- END ROW -->
</div>