<div class="container" id="container">
  <!-- BEGIN ROW -->
  <div class="row">
    <!-- BEGIN COL-9 -->
    <div class="col-lg-9 col-md-8 order-md-1">
      <h6 class="text-muted text-normal text-uppercase">With Gap (Bootstrap Grid)</h6>
      <hr class="margin-bottom-1x">
      <div class="gallery-wrapper">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="gallery-item">
              <a href="http://via.placeholder.com/1280x853" data-size="1280x853">
                <img src="http://via.placeholder.com/1280x853" alt="Image">
              </a>
              <span class="caption">lorem ipsum</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="gallery-item">
              <a href="http://via.placeholder.com/1280x853" data-size="1280x853">
                <img src="http://via.placeholder.com/1280x853" alt="Image">
              </a>
              <span class="caption">lorem ipsum</span></div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="gallery-item">
              <a href="javascript:void(0)" data-type="video"
                 data-video="<div class='wrapper'><div class='video-wrapper'><iframe class='pswp__video' width='960' height='640' src='https://www.youtube-nocookie.com/embed/gWnndI--Zis?rel=0' frameborder='0' allowfullscreen></iframe></div></div>">
                <img src="http://via.placeholder.com/1280x853" alt="Image">
              </a>
              <span class="caption">lorem ipsum</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="gallery-item">
              <a href="http://via.placeholder.com/1280x853" data-size="1280x853">
                <img src="http://via.placeholder.com/1280x853" alt="Image">
              </a>
              <span class="caption">lorem ipsum</span>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="gallery-item">
              <a href="javascript:void(0)" data-type="video"
                 data-video="<div class='wrapper'><div class='video-wrapper'><iframe class='pswp__video' width='960' height='640' src='https://player.vimeo.com/video/264597648?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0' frameborder='0' allowfullscreen></iframe></div></div>">
                <img src="http://via.placeholder.com/1280x853" alt="Image">
              </a>
              <span class="caption">lorem ipsum</span></div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="gallery-item">
              <a href="http://via.placeholder.com/1280x853" data-size="1280x853">
                <img src="http://via.placeholder.com/1280x853" alt="Image">
              </a>
              <span class="caption">lorem ipsum</span></div>
          </div>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-1x mt-1">No Gap (Isotope Grid)</h6>
      <hr class="margin-bottom-1x">
      <div class="gallery-wrapper isotope-grid cols-3 grid-no-gap">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"></div>
        <div class="grid-item gallery-item">
          <a href="http://via.placeholder.com/1280x853" data-size="1280x853">
            <img src="http://via.placeholder.com/1280x853" alt="Image">
          </a>
          <span class="caption">lorem ipsum</span>
        </div>
        <div class="grid-item gallery-item">
          <a href="http://via.placeholder.com/1280x853" data-size="1280x853">
            <img src="http://via.placeholder.com/1280x853" alt="Image">
          </a>
          <span class="caption">lorem ipsum</span>
        </div>
        <div class="grid-item gallery-item" style="position: absolute; left: 564px; top: 0px;">
          <a href="javascript:void(0)" data-type="video"
             data-video="<div class='wrapper'><div class='video-wrapper'><iframe class='pswp__video' width='960' height='640' src='https://www.youtube-nocookie.com/embed/gWnndI--Zis?rel=0' frameborder='0' allowfullscreen></iframe></div></div>">
            <img src="http://via.placeholder.com/1280x853" alt="Image">
          </a>
          <span class="caption">lorem ipsum</span>
        </div>
        <div class="grid-item gallery-item">
          <a href="http://via.placeholder.com/1280x853" data-size="1280x853">
            <img src="http://via.placeholder.com/1280x853" alt="Image">
          </a>
          <span class="caption">lorem ipsum</span>
        </div>
        <div class="grid-item gallery-item" style="position: absolute; left: 282px; top: 188px;">
          <a href="javascript:void(0)"
             data-type="video"
             data-video="<div class='wrapper'><div class='video-wrapper'><iframe class='pswp__video' width='960' height='640' src='https://player.vimeo.com/video/264597648?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0' frameborder='0' allowfullscreen></iframe></div></div>">
            <img src="http://via.placeholder.com/1280x853" alt="Image">
          </a>
          <span class="caption">lorem ipsum</span>
        </div>
        <div class="grid-item gallery-item">
          <a href="http://via.placeholder.com/1280x853" data-size="1280x853">
            <img src="http://via.placeholder.com/1280x853" alt="Image">
          </a>
          <span class="caption">lorem ipsum</span>
        </div>
      </div>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Masonry (Isotope Grid)</h6>
      <hr class="margin-bottom-1x">
      <div class="gallery-wrapper isotope-grid cols-3">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"></div>
        <div class="grid-item gallery-item">
          <a href="javascript:void(0)" data-type="video"
             data-video="<div class='wrapper'><div class='video-wrapper'><iframe class='pswp__video' width='960' height='640' src='https://www.youtube-nocookie.com/embed/gWnndI--Zis?rel=0' frameborder='0' allowfullscreen></iframe></div></div>">
            <img src="http://via.placeholder.com/960x1280" alt="Image">
          </a>
          <span class="caption">lorem ipsum</span></div>
        <div class="grid-item gallery-item">
          <a href="http://via.placeholder.com/2000x1600" data-size="2000x1600">
            <img src="http://via.placeholder.com/2000x1600" alt="Image">
          </a>
          <span class="caption">lorem ipsum</span></div>
        <div class="grid-item gallery-item">
          <a href="http://via.placeholder.com/2624x3648" data-size="2624x3648">
            <img src="http://via.placeholder.com/2624x3648" alt="Image">
          </a>
          <span class="caption">lorem ipsum</span>
        </div>
        <div class="grid-item gallery-item">
          <a href="http://via.placeholder.com/683x1024" data-size="683x1027">
            <img src="http://via.placeholder.com/683x1024" alt="Image">
          </a>
          <span class="caption">lorem ipsum</span></div>
        <div class="grid-item gallery-item">
          <a href="javascript:void(0)" data-type="video"
             data-video="<div class='wrapper'><div class='video-wrapper'><iframe class='pswp__video' width='960' height='640' src='https://player.vimeo.com/video/264597648?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0' frameborder='0' allowfullscreen></iframe></div></div>">
            <img src="http://via.placeholder.com/750x1160" alt="Image">
          </a>
          <span class="caption">lorem ipsum</span>
        </div>
        <div class="grid-item gallery-item">
          <a href="http://via.placeholder.com/2048x1365" data-size="2048x1365">
            <img src="http://via.placeholder.com/2048x1365" alt="Image">
          </a>
          <span class="caption">lorem ipsum</span></div>
      </div>
    </div>
    <!-- END COL-9 -->

    <!-- BEGIN COL-3 -->
    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
      <!-- SIDE MENU-->
      <nav class="list-group" id="ui_elements_nav">
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/accordion">Accordion</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/alerts">Alerts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/buttons">Buttons</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/cards">Cards</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/forms">Forms</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/formLayouts">Form Layouts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/gallery">Gallery</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/images">Images & Figures</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/listGroup">List Group</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/mediaObject">Media Object</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/modals">Modal</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pagination">Pagination</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pills">Pills</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/progressBars">Progress Bars</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/steps">Steps</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tables">Tables</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tabs">Tabs</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/toastNotification">Toast
          Notifications</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/sweetAlert">Sweet Alert</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tooltips">Tooltips & Popovers</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/typography">Typography</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="widgets">Widgets</a>

      </nav>
    </div>
    <!-- END COL-3 -->
  </div>
  <!-- END ROW -->
</div>