<div class="container">
  <div class="row file_manager">
    <div class="col-lg-3">
      <div class="pvr-wrapper">
        <div class="registration-box">
          <div class="file-manager">
            <h5>Showing:</h5>
            <a href="javascript:void(0)" class="file-control active">Web Pges</a>
            <a href="javascript:void(0)" class="file-control">Audio</a>
            <a href="javascript:void(0)" class="file-control">Documents</a>
            <a href="javascript:void(0)" class="file-control">Images</a>
            <div class="hr-line-dashed"></div>
            <button class="btn btn-primary btn-block">Upload</button>
            <div class="hr-line-dashed"></div>
            <h5>Folders</h5>
            <ul class="folder-list p-0">
              <li><a href="javascript:void(0)"><i class="fa fa-folder"></i> Files</a></li>
              <li><a href="javascript:void(0)"><i class="fa fa-folder"></i> Pictures</a>
              </li>
              <li><a href="javascript:void(0)"><i class="fa fa-folder"></i> Videos</a>
              </li>
              <li><a href="javascript:void(0)"><i class="fa fa-folder"></i> Films</a></li>
              <li><a href="javascript:void(0)"><i class="fa fa-folder"></i> Reports</a></li>
            </ul>
            <h5 class="tag-title">Tags</h5>
            <ul class="tag-list p-0">
              <li><a href="javascript:void(0)">Birthday</a></li>
              <li><a href="javascript:void(0)">Doc</a></li>
              <li><a href="javascript:void(0)">MP3</a></li>
              <li><a href="javascript:void(0)">Report</a></li>
              <li><a href="javascript:void(0)">Annual</a></li>
              <li><a href="javascript:void(0)">Pictures</a></li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9 r5_m_t_20">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-6 col-sm-6 col-xl-4">
            <div class="file">
              <a href="javascript:void(0)">
                <span class="corner"></span>

                <div class="icon">
                  <i class="fa fa-file"></i>
                </div>
                <div class="file-name">
                  Doc 2017.doc
                  <br/>
                  <small>Added: Jan 11, 2014</small>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-4">
            <div class="file">
              <a href="javascript:void(0)">
                <span class="corner"></span>
                <div class="image">
                  <img alt="image" class="img-responsive w-in-100"
                       src="http://via.placeholder.com/1280x720">
                </div>
                <div class="file-name">
                  Doc 2017.doc
                  <br/>
                  <small>Added: Fab 11, 2014</small>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-4">
            <div class="file">
              <a href="javascript:void(0)">
                <span class="corner"></span>

                <div class="icon">
                  <i class="fa fa-music"></i>
                </div>
                <div class="file-name">
                  Michal Jackson.mp3
                  <br/>
                  <small>Added: Jan 22, 2014</small>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-4">
            <div class="file">
              <a href="javascript:void(0)">
                <span class="corner"></span>

                <div class="icon">
                  <i class="img-responsive fa fa-film"></i>
                </div>
                <div class="file-name">
                  Birthday.mp4
                  <br/>
                  <small>Added: Fab 18, 2014</small>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-4">
            <div class="file">
              <a href="javascript:void(0)">
                <span class="corner"></span>
                <div class="image">
                  <img alt="image" class="img-responsive w-in-100"
                       src="http://via.placeholder.com/1280x720">
                </div>
                <div class="file-name">
                  Doc 2017.doc
                  <br/>
                  <small>Added: Fab 11, 2014</small>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-4">
            <a href="javascript:void(0)">
              <div class="file">
                <span class="corner"></span>

                <div class="icon">
                  <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="file-name">
                  Report 2017.xls
                  <br/>
                  <small>Added: Fab 22, 2014</small>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-4">
            <div class="file">
              <a href="javascript:void(0)">
                <span class="corner"></span>
                <div class="image">
                  <img alt="image" class="img-responsive w-in-100"
                       src="http://via.placeholder.com/1280x720">
                </div>
                <div class="file-name">
                  Doc 2017.doc
                  <br/>
                  <small>Added: Fab 11, 2014</small>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-4">
            <div class="file">
              <a href="javascript:void(0)">
                <span class="corner"></span>

                <div class="icon">
                  <i class="fa fa-file"></i>
                </div>
                <div class="file-name">
                  Doc 2017.doc
                  <br/>
                  <small>Added: Jan 11, 2014</small>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-4">
            <div class="file">
              <a href="javascript:void(0)">
                <span class="corner"></span>

                <div class="icon">
                  <i class="fa fa-music"></i>
                </div>
                <div class="file-name">
                  Michal Jackson.mp3
                  <br/>
                  <small>Added: Jan 22, 2014</small>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-4">
            <div class="file">
              <a href="javascript:void(0)">
                <span class="corner"></span>
                <div class="image">
                  <img alt="image" class="img-responsive w-in-100"
                       src="http://via.placeholder.com/1280x720">
                </div>
                <div class="file-name">
                  Doc 2017.doc
                  <br/>
                  <small>Added: Fab 11, 2014</small>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-4">
            <div class="file">
              <a href="javascript:void(0)">
                <span class="corner"></span>

                <div class="icon">
                  <i class="img-responsive fa fa-film"></i>
                </div>
                <div class="file-name">
                  Birthday.mp4
                  <br/>
                  <small>Added: Fab 18, 2014</small>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-4">
            <div class="file">
              <a href="javascript:void(0)">
                <span class="corner"></span>
                <div class="image">
                  <img alt="image" class="img-responsive w-in-100"
                       src="http://via.placeholder.com/1280x720">
                </div>
                <div class="file-name">
                  Doc 2017.doc
                  <br/>
                  <small>Added: Fab 11, 2014</small>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-4">
            <a href="javascript:void(0)">
              <div class="file">
                <span class="corner"></span>

                <div class="icon">
                  <i class="fa fa-bar-chart-o"></i>
                </div>
                <div class="file-name">
                  Report 2017.xls
                  <br/>
                  <small>Added: Fab 22, 2014</small>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-4">
            <div class="file">
              <a href="javascript:void(0)">
                <span class="corner"></span>
                <div class="icon">
                  <i class="fa fa-file"></i>
                </div>
                <div class="file-name">
                  Doc 2017.doc
                  <br/>
                  <small>Added: Jan 11, 2014</small>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xl-4">
            <div class="file">
              <a href="javascript:void(0)">
                <span class="corner"></span>

                <div class="icon">
                  <i class="fa fa-music"></i>
                </div>
                <div class="file-name">
                  Michal Jackson.mp3
                  <br/>
                  <small>Added: Jan 22, 2014</small>
                </div>
              </a>
            </div>
          </div>
          <nav class="pagination">
            <div class="column">
              <ul class="pages">
                <li class="active"><a href="javascript:void(0)">1</a></li>
                <li><a href="javascript:void(0)">2</a></li>
                <li><a href="javascript:void(0)">3</a></li>
                <li><a href="javascript:void(0)">4</a></li>
                <li>...</li>
                <li><a href="javascript:void(0)">12</a></li>
              </ul>
            </div>
            <div class="column text-right hidden-xs-down">
              <a class="btn btn-outline-secondary btn-sm" href="javascript:void(0)">Next&nbsp;
                <i class="icon-arrow-right"></i>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>