<div class="">
  <section class="hero-slider" style="background-image: url('http://via.placeholder.com/1920x1080');">
    <div class="owl-carousel large-controls dots-inside hero_slider_1">
      <div class="item">
        <div class="container padding-top-3x">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
              <div class="from-bottom">
                <img class="d-inline-block w-150 mb-4" src="http://via.placeholder.com/250x76"
                     alt="">
                <div class="h2 text-body text-normal mb-2 pt-1">
                  Smart Watch Moto 360 2nd
                </div>
                <div class="h2 text-body text-normal mb-4 pb-1">
                  starting at
                  <span class="text-bold">$37.99</span>
                </div>
              </div>
              <a class="btn btn-primary scale-up delay-1" href="javascript:void(0)">View Offers</a>
            </div>
            <div class="col-md-6 padding-bottom-2x mb-3">
              <img class="d-block mx-auto" src="http://via.placeholder.com/437x400" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container padding-top-3x">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
              <div class="from-bottom">
                <img class="d-inline-block w-200 mb-4" src="http://via.placeholder.com/250x76"
                     alt="">
                <div class="h2 text-body text-normal mb-2 pt-1">
                  Smart Watch Moto 340 3rd
                </div>
                <div class="h2 text-body text-normal mb-4 pb-1">
                  for only
                  <span class="text-bold">$59.99</span>
                </div>
              </div>
              <a class="btn btn-primary scale-up delay-1" href="javascript:void(0)">Shop Now</a>
            </div>
            <div class="col-md-6 padding-bottom-2x mb-3">
              <img class="d-block mx-auto" src="http://via.placeholder.com/437x400" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container padding-top-3x">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-5 col-md-6 padding-bottom-2x text-md-left text-center">
              <div class="from-bottom">
                <img class="d-inline-block mb-4" src="http://via.placeholder.com/250x76" alt="">
                <div class="h2 text-body text-normal mb-2 pt-1">
                  Smart Watch Moto 360 2nd
                </div>
                <div class="h2 text-body text-normal mb-4 pb-1">
                  for only
                  <span class="text-bold">$299.99</span>
                </div>
              </div>
              <a class="btn btn-primary scale-up delay-1" href="javascript:void(0)">Shop Now</a>
            </div>
            <div class="col-md-6 padding-bottom-2x mb-3">
              <img class="d-block mx-auto" src="http://via.placeholder.com/437x400" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container padding-top-3x padding-bottom-2x">
    <div class="row">
      <div class="col-md-3 col-sm-6 text-center mb-30">
        <i class="fa fa-desktop fa-4x mb-3"></i>
        <h6>FULL RESPONSIVE</h6>
        <p class="text-muted margin-bottom-none">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
      </div>
      <div class="col-md-3 col-sm-6 text-center mb-30">
        <i class="fa fa-cubes fa-4x mb-3"></i>
        <h6>FULLY CUSTOMIZABLE</h6>
        <p class="text-muted margin-bottom-none">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
      </div>
      <div class="col-md-3 col-sm-6 text-center mb-30">
        <i class="fa fa-retweet fa-4x mb-3"></i>
        <h6>RETINA READY</h6>
        <p class="text-muted margin-bottom-none">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
      </div>
      <div class="col-md-3 col-sm-6 text-center mb-30">
        <i class="fa fa-hand-o-up fa-4x mb-3"></i>
        <h6>FREE UPDATES</h6>
        <p class="text-muted margin-bottom-none">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
      </div>
    </div>
  </section>

  <section class="container padding-top-3x" id="collections">
    <h3 class="text-center mb-30">Featured Collections (Video)</h3>
    <div class="row pt-1 justify-content-center">
      <div class="col-xl-10">
        <div class="gallery-wrapper owl-carousel">
          <div class="gallery-item no-hover-effect">
            <a href="javascript:void(0)" data-type="video"
               data-video="<div class='wrapper'><div class='video-wrapper'><iframe class='pswp__video' width='960' height='640' src='https://www.youtube-nocookie.com/embed/gWnndI--Zis?rel=0' frameborder='0' allowfullscreen></iframe></div></div>">
              <img src="http://via.placeholder.com/1920x1080" alt="Cover">
            </a>
            <span class="caption">Classic Collection</span>
          </div>
          <div class="gallery-item no-hover-effect">
            <a href="javascript:void(0)" data-type="video"
               data-video="<div class='wrapper'><div class='video-wrapper'><iframe class='pswp__video' width='960' height='640' src='https://www.youtube-nocookie.com/embed/gWnndI--Zis?rel=0' frameborder='0' allowfullscreen></iframe></div></div>">
              <img src="http://via.placeholder.com/1920x1080" alt="Cover">
            </a>
            <span class="caption">Prestige Collection</span>
          </div>
          <div class="gallery-item no-hover-effect">
            <a href="javascript:void(0)" data-type="video"
               data-video="<div class='wrapper'><div class='video-wrapper'><iframe class='pswp__video' width='960' height='640' src='https://www.youtube-nocookie.com/embed/gWnndI--Zis?rel=0' frameborder='0' allowfullscreen></iframe></div></div>">
              <img src="http://via.placeholder.com/1920x1080" alt="Cover">
            </a>
            <span class="caption">Sports Collection</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fw-section m-t-72 m-b-30" style="background-image: url('http://via.placeholder.com/1920x1080');">
    <span class="overlay" style="background-color: #374250; opacity: .55;"></span>
    <div class="container text-center padding-top-4x padding-bottom-4x">
      <h3 class="display-4 text-normal text-white text-shadow mb-1">Silver Edge</h3>
      <h2 class="display-2 text-bold text-white text-shadow">PVR TECH STUDIO</h2>
      <h4 class="d-inline-block h2 text-normal text-white text-shadow border-default border-left-0 border-right-0 mb-4">
        Now on ENVATO MARKET.
      </h4>
      <br>
      <a class="btn btn-primary" href="javascript:void(0)">Buy Now</a>
    </div>
  </section>

  <section class="padding-top-3x">
    <div class="container">
      <h3 class="text-center mb-30 pb-2">Popular Brands</h3>
      <div class="owl-carousel client_car">
        <img class="d-block w-110 opacity-75 m-auto" src="http://via.placeholder.com/137x77" alt="">
        <img class="d-block w-110 opacity-75 m-auto" src="http://via.placeholder.com/137x77" alt="">
        <img class="d-block w-110 opacity-75 m-auto" src="http://via.placeholder.com/137x77" alt="">
        <img class="d-block w-110 opacity-75 m-auto" src="http://via.placeholder.com/137x77" alt="">
        <img class="d-block w-110 opacity-75 m-auto" src="http://via.placeholder.com/137x77" alt="">
        <img class="d-block w-110 opacity-75 m-auto" src="http://via.placeholder.com/137x77" alt="">
        <img class="d-block w-110 opacity-75 m-auto" src="http://via.placeholder.com/137x77" alt="">
        <img class="d-block w-110 opacity-75 m-auto" src="http://via.placeholder.com/137x77" alt="">
      </div>
    </div>
  </section>
</div>