<div class="container" id="container">
  <!-- BEGIN ROW -->
  <div class="row">
    <!-- BEGIN COL-9 -->
    <div class="col-lg-9 col-md-8 order-md-1">
      <div class="row">
        <div class="col-sm-6 margin-bottom-2x pb-2">
          <h6 class="text-muted text-normal text-uppercase">Image on top</h6>
          <hr class="margin-bottom-1x">
          <div class="card">
            <img class="card-img-top" src="http://via.placeholder.com/1920x1080"
                 alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the
                bulk of the card's content.</p>
              <a class="btn btn-primary btn-sm" href="javascript:void(0)">Go
                somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 margin-bottom-2x pb-3">
          <h6 class="text-muted text-normal text-uppercase">Image on bottom</h6>
          <hr class="margin-bottom-1x">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the
                bulk of the card's content.</p>
              <a class="btn btn-primary btn-sm" href="javascript:void(0)">Go
                somewhere</a>
            </div>
            <img class="card-img-bottom" src="http://via.placeholder.com/1920x1080" alt="Card image">
          </div>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase">Header and Footer</h6>
      <hr class="margin-bottom-1x">
      <div class="card text-center">
        <div class="card-header">
          <span class="text-lg">Featured</span>
        </div>
        <div class="card-body">
          <h3 class="card-title">Special title treatment</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a class="btn btn-primary" href="javascript:void(0)">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">3 days ago</div>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Content Alignment</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-lg-4 margin-bottom-1x">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional
                content.</p>
              <a class="btn btn-outline-primary btn-sm" href="javascript:void(0)">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 margin-bottom-1x">
          <div class="card text-center">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional
                content.</p>
              <a class="btn btn-outline-primary btn-sm" href="javascript:void(0)">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 margin-bottom-1x">
          <div class="card text-right">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">With supporting text below as a natural lead-in to additional
                content.</p>
              <a class="btn btn-outline-primary btn-sm" href="javascript:void(0)">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-1">Background Colors</h6>
      <hr class="margin-bottom-1x">
      <div class="card text-white bg-primary text-center mb-3">
        <div class="card-header text-lg">Header</div>
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card bg-secondary text-center mb-3">
        <div class="card-header text-lg">Header</div>
        <div class="card-body">
          <h4 class="card-title">Secondary card title</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card text-white bg-success text-center mb-3">
        <div class="card-header text-lg">Header</div>
        <div class="card-body">
          <h4 class="card-title">Success card title</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card text-white bg-info text-center mb-3">
        <div class="card-header text-lg">Header</div>
        <div class="card-body">
          <h4 class="card-title">Info card title</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card text-white bg-warning text-center mb-3">
        <div class="card-header text-lg">Header</div>
        <div class="card-body">
          <h4 class="card-title">Warning card title</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card text-white bg-danger text-center mb-3">
        <div class="card-header text-lg">Header</div>
        <div class="card-body">
          <h4 class="card-title">Danger card title</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card text-white bg-dark text-center mb-2">
        <div class="card-header text-lg">Header</div>
        <div class="card-body">
          <h4 class="card-title">Dark card title</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Outline Cards</h6>
      <hr class="margin-bottom-1x">
      <div class="card border-primary text-center mb-3">
        <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card border-success text-center mb-3">
        <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card border-info text-center mb-3">
        <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card border-warning text-center mb-3">
        <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card border-danger text-center mb-3">
        <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card border-dark text-center">
        <div class="card-body">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Layout: Cards Group</h6>
      <hr class="margin-bottom-1x">
      <div class="card-group">
        <div class="card margin-bottom-1x">
          <img class="card-img-top" src="http://via.placeholder.com/1280x853"
               alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer text-muted">Last updated 3mins ago</div>
        </div>
        <div class="card margin-bottom-1x">
          <img class="card-img-top" src="http://via.placeholder.com/1280x853"
               alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional
              content.</p>
          </div>
          <div class="card-footer text-muted">Last updated 3mins ago</div>
        </div>
        <div class="card margin-bottom-1x">
          <img class="card-img-top" src="http://via.placeholder.com/1280x853"
               alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
              additional content. This card has even longer content than the first to show that equal
              height action.</p>
          </div>
          <div class="card-footer text-muted">Last updated 3mins ago</div>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Layout: Cards Deck</h6>
      <hr class="margin-bottom-1x">
      <div class="card-deck">
        <div class="card margin-bottom-1x">
          <img class="card-img-top" src="http://via.placeholder.com/1280x853"
               alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.</p>
          </div>
          <div class="card-footer text-muted">Last updated 3mins ago</div>
        </div>
        <div class="card margin-bottom-1x">
          <img class="card-img-top" src="http://via.placeholder.com/1280x853"
               alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional
              content.</p>
          </div>
          <div class="card-footer text-muted">Last updated 3mins ago</div>
        </div>
        <div class="card margin-bottom-1x">
          <img class="card-img-top" src="http://via.placeholder.com/1280x853"
               alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
              additional content. This card has even longer content than the first to show that equal
              height action.</p>
          </div>
          <div class="card-footer text-muted">Last updated 3mins ago</div>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Layout: Cards Columns</h6>
      <hr class="margin-bottom-1x">
      <div class="card-columns">
        <div class="card margin-bottom-1x">
          <img class="card-img-top" src="http://via.placeholder.com/1280x853"
               alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
              additional content. This content is a little bit longer.</p>
            <span class="text-muted">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card margin-bottom-1x">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              posuere erat a ante.</p>
            <span class="text-muted">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card margin-bottom-1x">
          <img class="card-img-top" src="http://via.placeholder.com/1920x1080"
               alt="Card image">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional
              content.</p>
            <span class="text-muted">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card text-white bg-primary text-center margin-bottom-1x">
          <div class="card-body">
            <p class="card-text text-medium text-white">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Integer posuere erat a ante.</p>
            <span class="opacity-75">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card margin-bottom-1x">
          <img class="card-img-top" src="http://via.placeholder.com/1920x1080"
               alt="Card image">
        </div>
        <div class="card text-center margin-bottom-1x">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional
              content.</p>
            <span class="text-muted">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card text-right margin-bottom-1x">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              posuere erat a ante.</p>
            <span class="text-muted">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card text-white bg_svg_red text-center margin-bottom-1x">
          <div class="card-body">
            <p class="card-text text-medium text-white">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Integer posuere erat a ante.</p>
            <span class="opacity-75">Last updated 3mins ago</span>
          </div>
        </div>
        <div class="card text-white bg_svg_green text-center margin-bottom-1x">
          <div class="card-body">
            <h4 class="card-title">Card title that wraps to a new line</h4>
            <p class="card-text text-medium text-white">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Integer posuere erat a ante.</p>
            <span class="opacity-75">Last updated 3mins ago</span>
          </div>
        </div>
      </div>
    </div>
    <!-- END COL-9 -->

    <!-- BEGIN COL-3 -->
    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
      <!-- SIDE MENU-->
      <nav class="list-group" id="ui_elements_nav">
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/accordion">Accordion</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/alerts">Alerts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/buttons">Buttons</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/cards">Cards</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/forms">Forms</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/formLayouts">Form Layouts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/gallery">Gallery</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/images">Images & Figures</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/listGroup">List Group</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/mediaObject">Media Object</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/modals">Modal</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pagination">Pagination</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pills">Pills</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/progressBars">Progress Bars</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/steps">Steps</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tables">Tables</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tabs">Tabs</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/toastNotification">Toast
          Notifications</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/sweetAlert">Sweet Alert</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tooltips">Tooltips & Popovers</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/typography">Typography</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="widgets">Widgets</a>

      </nav>
    </div>
    <!-- END COL-3 -->
  </div>
  <!-- END ROW -->
</div>