<div class="container">
  <div class="card-deck">
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Andrew Heston</h4>
        <small class="m-b-75">andrew.heston@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Michel Newton</h4>
        <small>michel.newton@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Mark Ruffalo</h4>
        <small>mark.ruffalo@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Catherine Weiss</h4>
        <small>catherine.weiss@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Michel Newton</h4>
        <small>michel.newton@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Catherine Weiss</h4>
        <small>catherine.weiss@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Andrew Heston</h4>
        <small class="m-b-75">andrew.heston@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Mark Ruffalo</h4>
        <small>mark.ruffalo@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Andrew Heston</h4>
        <small class="m-b-75">andrew.heston@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Michel Newton</h4>
        <small>michel.newton@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Mark Ruffalo</h4>
        <small>mark.ruffalo@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Catherine Weiss</h4>
        <small>catherine.weiss@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="card-deck">
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Michel Newton</h4>
        <small>michel.newton@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Catherine Weiss</h4>
        <small>catherine.weiss@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Andrew Heston</h4>
        <small class="m-b-75">andrew.heston@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
    <div class="card margin-bottom-1x">
      <img class="card-img-top" src="http://via.placeholder.com/1280x853"
           alt="Card image">
      <div class="card-body">
        <img class="d-block rounded-circle contact_avatar" src="http://via.placeholder.com/128x128" alt="Image">
        <h4 class="card-title">Mark Ruffalo</h4>
        <small>mark.ruffalo@gmail.com</small>
        <address class="m-t-20">
          <strong>Cool Company</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> 022-1254-5215
        </address>
      </div>
      <div class="card-footer text-muted">
        <div class="share-links">
          <a class="social-button  fa fa-facebook" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Facebook">
          </a>
          <a class="social-button  fa fa-twitter" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Twitter">
          </a>
          <a class="social-button  fa fa-instagram" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Instagram">
          </a>
          <a class="social-button  fa fa-google-plus" href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
             title="" data-original-title="Google +">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>