<div class="container">
  <h6 class="text-muted text-normal text-uppercase margin-top-2x">Contact list</h6>
  <hr class="margin-bottom-1x">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-featured-products">
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-featured-products">
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-featured-products">
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="widget widget-featured-products">
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Andrew Heston</a>
            </h4>
            <span class="entry-meta">andrew.heston@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Michel Newton</a>
            </h4>
            <span class="entry-meta">michel.newton@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Mark Ruffalo</a>
            </h4>
            <span class="entry-meta">mark.ruffalo@gmail.com</span>
          </div>
        </div>
        <!-- Entry-->
        <div class="entry m-b-24">
          <div class="entry-thumb">
            <a href="javascript:void(0)">
              <img src="http://via.placeholder.com/128x128" class="rounded-circle" alt="Product">
            </a>
          </div>
          <div class="entry-content">
            <h4 class="entry-title">
              <a href="javascript:void(0)">Catherine Weiss</a>
            </h4>
            <span class="entry-meta">catherine.weiss@gmail.com</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>