<div class="container">
  <!-- BEGIN ROW -->
  <div class="row">
    <!-- BEGIN COL-9 -->
    <div class="col-lg-9 col-md-8 order-md-1">

      <h6 class="text-muted text-normal text-uppercase">Basic Example</h6>
      <hr class="margin-bottom-1x">
      <div class="accordion" id="accordion1" role="tablist">
        <div class="card">
          <div class="card-header" role="tab">
            <h6>
              <a href="#collapseOne" data-toggle="collapse" data-parent="#accordion1">Collapsible
                Group Item #1</a>
            </h6>
          </div>
          <div class="collapse show" id="collapseOne" role="tabpanel">
            <div class="card-body">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab">
            <h6>
              <a class="collapsed" href="#collapseTwo" data-toggle="collapse"
                 data-parent="#accordion1">Collapsible Group Item #2</a>
            </h6>
          </div>
          <div class="collapse" id="collapseTwo" role="tabpanel">
            <div class="card-body">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab">
            <h6>
              <a class="collapsed" href="#collapseThree" data-toggle="collapse"
                 data-parent="#accordion1">Collapsible Group Item #3</a>
            </h6>
          </div>
          <div class="collapse" id="collapseThree" role="tabpanel">
            <div class="card-body">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
          </div>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Example with Icons</h6>
      <hr class="margin-bottom-1x">
      <div class="accordion" id="accordion2" role="tablist">
        <div class="card">
          <div class="card-header" role="tab">
            <h6>
              <a href="#collapseFour" data-toggle="collapse" data-parent="#accordion2"><i
                      class="icon-sun"></i>Collapsible Group Item #1</a>
            </h6>
          </div>
          <div class="collapse show" id="collapseFour" role="tabpanel">
            <div class="card-body">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab">
            <h6>
              <a class="collapsed" href="#collapseFive" data-toggle="collapse"
                 data-parent="#accordion2"><i class="icon-lock"></i>Collapsible Group Item #2</a>
            </h6>
          </div>
          <div class="collapse" id="collapseFive" role="tabpanel">
            <div class="card-body">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab">
            <h6>
              <a class="collapsed" href="#collapseSix" data-toggle="collapse"
                 data-parent="#accordion2"><i class="icon-clock"></i>Collapsible Group Item #3</a>
            </h6>
          </div>
          <div class="collapse" id="collapseSix" role="tabpanel">
            <div class="card-body">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
          </div>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Close other accordion</h6>
      <hr class="margin-bottom-1x">
      <div class="accordion" id="close_other_accordion" role="tablist">
        <div class="card">
          <div class="card-header" role="tab">
            <h6>
              <a href="#collapseSeven" data-toggle="collapse" data-parent="#close_other_accordion"><i
                      class="icon-sun"></i>Collapsible Group Item #1</a>
            </h6>
          </div>
          <div class="collapse show" id="collapseSeven" role="tabpanel">
            <div class="card-body">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab">
            <h6>
              <a class="collapsed" href="#collapseEight" data-toggle="collapse"
                 data-parent="#accordion2"><i class="icon-lock"></i>Collapsible Group Item #2</a>
            </h6>
          </div>
          <div class="collapse" id="collapseEight" role="tabpanel">
            <div class="card-body">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab">
            <h6>
              <a class="collapsed" href="#collapseNine" data-toggle="collapse"
                 data-parent="#accordion2"><i class="icon-clock"></i>Collapsible Group Item #3</a>
            </h6>
          </div>
          <div class="collapse" id="collapseNine" role="tabpanel">
            <div class="card-body">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown
              printer took a galley of type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s with the release of
              Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END COL-9 -->

    <!-- BEGIN COL-3 -->
    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
      <!-- SIDE MENU-->
      <nav class="list-group" id="ui_elements_nav">
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/accordion">Accordion</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/alerts">Alerts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/buttons">Buttons</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/cards">Cards</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/forms">Forms</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/formLayouts">Form Layouts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/gallery">Gallery</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/images">Images & Figures</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/listGroup">List Group</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/mediaObject">Media Object</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/modals">Modal</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pagination">Pagination</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pills">Pills</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/progressBars">Progress Bars</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/steps">Steps</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tables">Tables</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tabs">Tabs</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/toastNotification">Toast
          Notifications</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/sweetAlert">Sweet Alert</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tooltips">Tooltips & Popovers</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/typography">Typography</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="widgets">Widgets</a>

      </nav>
    </div>
    <!-- END COL-3 -->
  </div>
  <!-- END ROW -->
</div>