<div class="container validation">
  <!-- BEGIN ROW -->
  <div class="row">
    <!-- BEGIN COL-12 -->
    <div class="col-lg-12 col-md-12 order-md-1">
      <div class="row">
        <div class="col-sm-6 margin-bottom-2x pb-2">
          <h6 class="text-muted text-normal text-uppercase">Default Layout</h6>
          <hr class="margin-bottom-1x">
          <form action="" class="validate_1" method="POST">
            <fieldset>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="eamil" class="form-control" id="exampleInputEmail1"
                       placeholder="Enter email">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name="password" type="password" class="form-control"
                           id="exampleInputPassword1"
                           placeholder="Password">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input name="confirm_password" type="password" class="form-control"
                           id="confirm_password"
                           placeholder="Password">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="regular_selst">Regular Select</label>
                <select class="form-control" id="regular_selst" name="regular_selst">
                  <option value="">Select</option>
                  <option value="New York">New York</option>
                  <option value="California">California</option>
                  <option value="Boston">Boston</option>
                  <option value="Texas">Texas</option>
                  <option value="Colorado">Colorado</option>
                </select>
              </div>
              <fieldset>
                <h6 class="text-muted text-normal text-uppercase">Section Example</h6>
                <hr class="margin-bottom-1x">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="first_name">First Name</label>
                      <input type="text" class="form-control validate_name" id="first_name"
                             placeholder="First Name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="first_name">Last Name</label>
                      <input type="text" class="form-control" id="last_name"
                             placeholder="Last Name">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="dob">Date of Birth</label>
                      <input type="text" class="form-control date_picker" id="dob"
                             placeholder="Date of Birth">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="dob">Twiter Username</label>
                      <div class="input-group">
                        <input class="form-control" type="text"
                               placeholder="Twiter Username"><span
                              class="input-group-addon"><i class="icon-head"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label> Example textarea</label>
                  <textarea class="form-control" rows="3"></textarea>
                </div>
              </fieldset>
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="ex-check-1">
                <label class="custom-control-label" for="ex-check-1">Remember me</label>
              </div>
              <button type="submit" class="btn btn-sm btn-primary m-r-5">Login</button>
              <button type="submit" class="btn btn-sm btn-outline-primary">Cancel</button>
            </fieldset>
          </form>
        </div>

        <div class="col-sm-6 margin-bottom-2x pb-2">
          <h6 class="text-muted text-normal text-uppercase">Default Layout Rounded</h6>
          <hr class="margin-bottom-1x">
          <form class="validate_2" action="" method="POST">
            <fieldset>
              <div class="form-group">
                <label for="exampleInputEmail11">Email address</label>
                <input name="eamil_2" type="email" class="form-control form-control-rounded"
                       id="exampleInputEmail11"
                       placeholder="Enter email">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputPassword11">Password</label>
                    <input name="password_2" type="password"
                           class="form-control form-control-rounded"
                           id="exampleInputPassword11"
                           placeholder="Password">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="confirm_password1">Confirm Password</label>
                    <input name="confirm_password_2" type="password"
                           class="form-control form-control-rounded"
                           id="confirm_password1"
                           placeholder="Password">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="regular_selst1">Regular Select</label>
                <select name="regular_selst_2" class="form-control form-control-rounded"
                        id="regular_selst1">
                  <option value="">Select</option>
                  <option value="New York">New York</option>
                  <option value="California">California</option>
                  <option value="Boston">Boston</option>
                  <option value="Texas">Texas</option>
                  <option value="Colorado">Colorado</option>
                </select>
              </div>
              <fieldset>
                <h6 class="text-muted text-normal text-uppercase">Section Example</h6>
                <hr class="margin-bottom-1x">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="first_name1">First Name</label>
                      <input type="text" class="form-control form-control-rounded"
                             id="first_name1"
                             placeholder="First Name">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="first_name1">Last Name</label>
                      <input type="text" class="form-control form-control-rounded"
                             id="last_name1"
                             placeholder="Last Name">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="dob1">Date of Birth</label>
                      <input type="text" class="form-control form-control-rounded date_picker"
                             id="dob1"
                             placeholder="Date of Birth">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="tuser">Twiter Username</label>
                      <div class="input-group">
                        <input class="form-control form-control-rounded" type="text"
                               placeholder="Twiter Username" id="tuser"><span
                              class="input-group-addon"><i class="icon-head"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label> Example textarea</label>
                  <textarea class="form-control form-control-rounded" rows="3"></textarea>
                </div>
              </fieldset>
              <div class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" id="ex-check-1_1">
                <label class="custom-control-label" for="ex-check-1_1">Remember me</label>
              </div>
              <button type="submit" class="btn btn-sm btn-primary m-r-5">Login</button>
              <button type="submit" class="btn btn-sm btn-outline-primary">Cancel</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <!-- END COL-12 -->
  </div>
  <!-- END ROW -->
</div>