<div class="container">
  <div class="shop-toolbar padding-bottom-1x mb-2">
    <div class="column">
      <div class="shop-sorting">
        <label for="sorting">Sort by:</label>
        <select class="form-control" id="sorting">
          <option>Popularity</option>
          <option>Low - High Price</option>
          <option>High - Low Price</option>
          <option>Avarage Rating</option>
          <option>A - Z Order</option>
          <option>Z - A Order</option>
        </select><span class="text-muted">Showing:&nbsp;</span><span>1 - 12 items</span>
      </div>
    </div>
    <div class="column">
      <div class="shop-view">
        <a class="grid-view active" href="javascript:void(0)" routerLink="shopgrid"><span></span><span></span><span></span></a>
        <a class="list-view" href="javascript:void(0)" routerLink="shoplist"><span></span><span></span><span></span></a>
      </div>
    </div>
  </div>
  <!-- Products Grid-->
  <div class="isotope-grid cols-4 mb-2">
    <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    <!-- Product-->
    <div class="grid-item">
      <div class="product-card">
        <div class="product-badge text-danger">
          50% Off
        </div>
        <a class="product-thumb" href="javascript:void(0)">
          <img src="http://via.placeholder.com/600x600" alt="Product">
        </a>
        <h3 class="product-title">
          <a href="javascript:void(0)">Seagate Backup Plus Slim 1TB Portable</a>
        </h3>
        <h4 class="product-price">
          <del>$99.99</del>
          $49.99
        </h4>
        <div class="product-buttons">
          <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip"
                  title="Whishlist"><i class="icon-heart"></i></button>
          <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success"
                  data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add
            to Cart
          </button>
        </div>
      </div>
    </div>
    <!-- Product-->
    <div class="grid-item">
      <div class="product-card"><a class="product-thumb" href="javascript:void(0)">
        <img src="http://via.placeholder.com/600x600" alt="Product"></a>
        <h3 class="product-title"><a href="javascript:void(0)">Philips SHL5000/00 On Ear Headphone</a>
        </h3>
        <h4 class="product-price">$200.00</h4>
        <div class="product-buttons">
          <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip"
                  title="Whishlist"><i class="icon-heart"></i></button>
          <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success"
                  data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add
            to Cart
          </button>
        </div>
      </div>
    </div>
    <!-- Product-->
    <div class="grid-item">
      <div class="product-card">
        <div class="rating-stars">
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star"></i>
        </div>
        <a class="product-thumb" href="javascript:void(0)">
          <img src="http://via.placeholder.com/600x600"
               alt="Product"></a>
        <h3 class="product-title"><a href="javascript:void(0)">Sony MDR-XB450 On-Ear Headphones</a></h3>
        <h4 class="product-price">$155.00</h4>
        <div class="product-buttons">
          <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip"
                  title="Whishlist"><i class="icon-heart"></i></button>
          <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success"
                  data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add
            to Cart
          </button>
        </div>
      </div>
    </div>
    <!-- Product-->
    <div class="grid-item">
      <div class="product-card">
        <div class="rating-stars">
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star"></i>
        </div>
        <a class="product-thumb" href="javascript:void(0)">
          <img src="http://via.placeholder.com/600x600"
               alt="Product"></a>
        <h3 class="product-title"><a href="javascript:void(0)">Amazon Echo - Powered by Dolby</a></h3>
        <h4 class="product-price">$155.00</h4>
        <div class="product-buttons">
          <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip"
                  title="Whishlist"><i class="icon-heart"></i></button>
          <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success"
                  data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add
            to Cart
          </button>
        </div>
      </div>
    </div>
    <!-- Product-->
    <div class="grid-item">
      <div class="product-card">
        <div class="rating-stars">
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star"></i>
        </div>
        <a class="product-thumb" href="javascript:void(0)">
          <img src="http://via.placeholder.com/600x600"
               alt="Product"></a>
        <h3 class="product-title"><a href="javascript:void(0)">Sennheiser CX 275 S In -Ear Universal</a></h3>
        <h4 class="product-price">$155.00</h4>
        <div class="product-buttons">
          <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip"
                  title="Whishlist"><i class="icon-heart"></i></button>
          <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success"
                  data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add
            to Cart
          </button>
        </div>
      </div>
    </div>
    <!-- Product-->
    <div class="grid-item">
      <div class="product-card">
        <div class="product-badge text-danger">
          50% Off
        </div>
        <a class="product-thumb" href="javascript:void(0)">
          <img src="http://via.placeholder.com/600x600" alt="Product">
        </a>
        <h3 class="product-title">
          <a href="javascript:void(0)">Linksys Max-Stream EA7500 AC1900</a>
        </h3>
        <h4 class="product-price">
          <del>$99.99</del>
          $49.99
        </h4>
        <div class="product-buttons">
          <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip"
                  title="Whishlist"><i class="icon-heart"></i></button>
          <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success"
                  data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add
            to Cart
          </button>
        </div>
      </div>
    </div>
    <!-- Product-->
    <div class="grid-item">
      <div class="product-card">
        <div class="rating-stars">
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star"></i>
        </div>
        <a class="product-thumb" href="javascript:void(0)">
          <img src="http://via.placeholder.com/600x600"
               alt="Product"></a>
        <h3 class="product-title"><a href="javascript:void(0)">Amazon Echo - Powered by Dolby</a></h3>
        <h4 class="product-price">$155.00</h4>
        <div class="product-buttons">
          <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip"
                  title="Whishlist"><i class="icon-heart"></i></button>
          <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success"
                  data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add
            to Cart
          </button>
        </div>
      </div>
    </div>
    <!-- Product-->
    <div class="grid-item">
      <div class="product-card">
        <div class="rating-stars">
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star"></i>
        </div>
        <a class="product-thumb" href="javascript:void(0)">
          <img src="http://via.placeholder.com/600x600"
               alt="Product"></a>
        <h3 class="product-title"><a href="javascript:void(0)">Canon EOS 77D DSLR Camera</a></h3>
        <h4 class="product-price">$155.00</h4>
        <div class="product-buttons">
          <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip"
                  title="Whishlist"><i class="icon-heart"></i></button>
          <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success"
                  data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add
            to Cart
          </button>
        </div>
      </div>
    </div>
    <!-- Product-->
    <div class="grid-item">
      <div class="product-card">
        <div class="rating-stars">
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star filled"></i>
          <i class="icon-star"></i>
        </div>
        <a class="product-thumb" href="javascript:void(0)">
          <img src="http://via.placeholder.com/600x600"
               alt="Product"></a>
        <h3 class="product-title"><a href="javascript:void(0)">WD My Cloud 2TB External Hard Drive</a></h3>
        <h4 class="product-price">$155.00</h4>
        <div class="product-buttons">
          <button class="btn btn-outline-secondary btn-sm btn-wishlist" data-toggle="tooltip"
                  title="Whishlist"><i class="icon-heart"></i></button>
          <button class="btn btn-outline-primary btn-sm" data-toast data-toast-type="success"
                  data-toast-position="topRight" data-toast-icon="icon-circle-check"
                  data-toast-title="Product" data-toast-message="successfuly added to cart!">Add
            to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Pagination-->
  <nav class="pagination">
    <div class="column">
      <ul class="pages">
        <li class="active"><a href="javascript:void(0)">1</a></li>
        <li><a href="javascript:void(0)">2</a></li>
        <li><a href="javascript:void(0)">3</a></li>
        <li><a href="javascript:void(0)">4</a></li>
        <li>...</li>
        <li><a href="javascript:void(0)">12</a></li>
      </ul>
    </div>
    <div class="column text-right hidden-xs-down"><a class="btn btn-outline-secondary btn-sm" href="javascript:void(0)">Next&nbsp;<i
            class="icon-arrow-right"></i></a></div>
  </nav>
</div>