<div class="container" id="container">
  <!-- BEGIN ROW -->
  <div class="row">
    <!-- BEGIN COL-9 -->
    <div class="col-lg-9 col-md-8 order-md-1">
      <h6 class="text-muted text-normal text-uppercase">Button</h6>
      <hr class="margin-bottom-1x">
      <a class="btn btn-primary" href="javascript:void(0)">Primary</a>
      <a class="btn btn-secondary" href="javascript:void(0)">Secondary</a>
      <a class="btn btn-success" href="javascript:void(0)">Success</a>
      <a class="btn btn-info" href="javascript:void(0)">Info</a>
      <a class="btn btn-warning" href="javascript:void(0)">Warning</a>
      <a class="btn btn-danger" href="javascript:void(0)">Danger</a>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">button outline</h6>
      <hr class="margin-bottom-1x">
      <a class="btn btn-outline-primary" href="javascript:void(0)">Primary</a>
      <a class="btn btn-outline-secondary" href="javascript:void(0)">Secondary</a>
      <a class="btn btn-outline-success" href="javascript:void(0)">Success</a>
      <a class="btn btn-outline-info" href="javascript:void(0)">Info</a>
      <a class="btn btn-outline-warning" href="javascript:void(0)">Warning</a>
      <a class="btn btn-outline-danger" href="javascript:void(0)">Danger</a>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">button links</h6>
      <hr class="margin-bottom-1x">
      <button class="btn btn-link-primary" type="button">Primary</button>
      <button class="btn btn-link-secondary" type="button">Secondary</button>
      <button class="btn btn-link-success" type="button">Success</button>
      <button class="btn btn-link-info" type="button">Info</button>
      <button class="btn btn-link-warning" type="button">Warning</button>
      <button class="btn btn-link-danger" type="button">Danger</button>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Shapes</h6>
      <hr class="margin-bottom-1x">
      <button class="btn btn-primary" type="button">Pill Button</button>
      <button class="btn btn-rounded btn-success" type="button">Rounded Button</button>
      <button class="btn btn-square btn-danger" type="button">Square Button</button>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Sizes</h6>
      <hr class="margin-bottom-1x">
      <button class="btn btn-lg btn-primary" type="button">Large Button</button>
      <button class="btn btn-success" type="button">Normal Button</button>
      <button class="btn btn-sm btn-danger" type="button">Small Button</button>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Button Dropdowns</h6>
      <hr class="margin-bottom-1x">
      <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Primary
        </button>
        <div class="dropdown-menu"><a class="dropdown-item" href="javascript:void(0)">Action</a><a class="dropdown-item"
                                                                                                   href="javascript:void(0)">Another
          Action</a><a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
      </div>
      <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">Secondary
        </button>
        <div class="dropdown-menu"><a class="dropdown-item" href="javascript:void(0)">Action</a><a class="dropdown-item"
                                                                                                   href="javascript:void(0)">Another
          Action</a><a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
      </div>
      <div class="btn-group">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">
          Primary
        </button>
        <div class="dropdown-menu"><a class="dropdown-item" href="javascript:void(0)">Action</a><a class="dropdown-item"
                                                                                                   href="javascript:void(0)">Another
          Action</a><a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
      </div>
      <div class="btn-group">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">
          Secondary
        </button>
        <div class="dropdown-menu"><a class="dropdown-item" href="javascript:void(0)">Action</a><a class="dropdown-item"
                                                                                                   href="javascript:void(0)">Another
          Action</a><a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Split Button Dropdowns</h6>
      <hr class="margin-bottom-1x">
      <div class="btn-group">
        <button class="btn btn-primary" type="button">Primary</button>
        <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button"
                data-toggle="dropdown"><span class="sr-only">Toggle Dropdown</span></button>
        <div class="dropdown-menu"><a class="dropdown-item" href="javascript:void(0)">Action</a><a class="dropdown-item"
                                                                                                   href="javascript:void(0)">Another
          Action</a><a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
      </div>
      <div class="btn-group">
        <button class="btn btn-secondary" type="button">Secondary</button>
        <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split" type="button"
                data-toggle="dropdown"><span class="sr-only">Toggle Dropdown</span></button>
        <div class="dropdown-menu"><a class="dropdown-item" href="javascript:void(0)">Action</a><a class="dropdown-item"
                                                                                                   href="javascript:void(0)">Another
          Action</a><a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
      </div>
      <div class="btn-group">
        <button class="btn btn-outline-primary" type="button">Primary</button>
        <button class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" type="button"
                data-toggle="dropdown"><span class="sr-only">Toggle Dropdown</span></button>
        <div class="dropdown-menu"><a class="dropdown-item" href="javascript:void(0)">Action</a><a class="dropdown-item"
                                                                                                   href="javascript:void(0)">Another
          Action</a><a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
      </div>
      <div class="btn-group">
        <button class="btn btn-outline-secondary" type="button">Secondary</button>
        <button class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" type="button"
                data-toggle="dropdown"><span class="sr-only">Toggle Dropdown</span></button>
        <div class="dropdown-menu"><a class="dropdown-item" href="javascript:void(0)">Action</a><a class="dropdown-item"
                                                                                                   href="javascript:void(0)">Another
          Action</a><a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Dropup Variation</h6>
      <hr class="margin-bottom-1x">
      <div class="btn-group dropup">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">
          Primary
        </button>
        <div class="dropdown-menu"><a class="dropdown-item" href="javascript:void(0)">Action</a><a class="dropdown-item"
                                                                                                   href="javascript:void(0)">Another
          Action</a><a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
      </div>
      <div class="btn-group dropup">
        <button class="btn btn-outline-primary" type="button">Primary</button>
        <button class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" type="button"
                data-toggle="dropdown"><span class="sr-only">Toggle Dropdown</span></button>
        <div class="dropdown-menu"><a class="dropdown-item" href="javascript:void(0)">Action</a><a class="dropdown-item"
                                                                                                   href="javascript:void(0)">Another
          Action</a><a class="dropdown-item" href="javascript:void(0)">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="javascript:void(0)">Separated link</a>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Disabled State</h6>
      <hr class="margin-bottom-1x">
      <button class="btn btn-primary" type="button" disabled>Primary</button>
      <button class="btn btn-secondary" type="button" disabled>Secondary</button>
      <button class="btn btn-outline-primary" type="button" disabled>Primary</button>
      <button class="btn btn-outline-secondary" type="button" disabled>Secondary</button>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Block Buttons</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-sm-4">
          <button class="btn btn-outline-primary btn-block" type="button">Block Button</button>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-outline-primary btn-rounded btn-block" type="button">Block Button</button>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-outline-primary btn-square btn-block" type="button">Block Button</button>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Icon Position</h6>
      <hr class="margin-bottom-1x">
      <button class="btn btn-outline-primary" type="button"><i class="icon-unlock"></i>&nbsp;Primary</button>
      <button class="btn btn-outline-secondary" type="button">Secondary&nbsp;<i class="icon-signal"></i>
      </button>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">White Buttons</h6>
      <hr class="margin-bottom-1x">
      <div class="bg_svg_red" style="padding: 20px;">
        <button class="btn btn-white" type="button">White Solid</button>
        <button class="btn btn-outline-white" type="button">White Outline</button>
        <button class="btn btn-link-white" type="button">White Link</button>
      </div>
    </div>
    <!-- END COL-9 -->

    <!-- BEGIN COL-3 -->
    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
      <!-- SIDE MENU-->
      <nav class="list-group" id="ui_elements_nav">
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/accordion">Accordion</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/alerts">Alerts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/buttons">Buttons</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/cards">Cards</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/forms">Forms</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/formLayouts">Form Layouts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/gallery">Gallery</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/images">Images & Figures</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/listGroup">List Group</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/mediaObject">Media Object</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/modals">Modal</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pagination">Pagination</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pills">Pills</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/progressBars">Progress Bars</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/steps">Steps</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tables">Tables</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tabs">Tabs</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/toastNotification">Toast
          Notifications</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/sweetAlert">Sweet Alert</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tooltips">Tooltips & Popovers</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/typography">Typography</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="widgets">Widgets</a>

      </nav>
    </div>
    <!-- END COL-3 -->
  </div>
  <!-- END ROW -->
</div>