<div class="container" id="container">
  <!-- BEGIN ROW -->
  <div class="row">
    <!-- BEGIN COL-9 -->
    <div class="col-lg-9 col-md-8 order-md-1">
      <h6 class="text-muted text-normal text-uppercase">Tabs with Dropdown</h6>
      <hr class="margin-bottom-1x">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#home1" data-toggle="tab" role="tab">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#profile1" data-toggle="tab" role="tab">Profile</a>
        </li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                                         role="button">Dropdown</a>
          <div class="dropdown-menu"><a class="dropdown-item" href="#messages1" data-toggle="tab"
                                        role="tab">Messages</a><a class="dropdown-item" href="#settings1"
                                                                  data-toggle="tab"
                                                                  role="tab">Settings</a></div>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home1" role="tabpanel">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
            aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
            helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh
            mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
            aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="profile1" role="tabpanel">
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
            four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft
            beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
            labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit
            sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
            tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
        <div class="tab-pane fade" id="messages1" role="tabpanel">
          <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic
            lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork
            tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica.
            DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh
            mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog.
            Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown.
            Pitchfork sustainable tofu synth chambray yr.</p>
        </div>
        <div class="tab-pane fade" id="settings1" role="tabpanel">
          <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out
            master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan
            DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY
            salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.
            Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf
            salvia freegan.</p>
        </div>
      </div>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Transition Effects</h6>
      <hr class="margin-bottom-1x">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#fade" data-toggle="tab" role="tab">Fade</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#scaleup" data-toggle="tab" role="tab">Scale Up</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#scaledown" data-toggle="tab" role="tab">Scale
          Down</a></li>
        <li class="nav-item"><a class="nav-link" href="#left" data-toggle="tab" role="tab">Left</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane transition fade show active" id="fade" role="tabpanel">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
            aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
            helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh
            mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
            aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane transition fade scale" id="scaleup" role="tabpanel">
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
            four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft
            beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
            labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit
            sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
            tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
        <div class="tab-pane transition fade scaledown" id="scaledown" role="tabpanel">
          <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic
            lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork
            tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica.
            DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh
            mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog.
            Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown.
            Pitchfork sustainable tofu synth chambray yr.</p>
        </div>
        <div class="tab-pane transition fade left" id="left" role="tabpanel">
          <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out
            master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan
            DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY
            salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.
            Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf
            salvia freegan.</p>
        </div>
      </div>
      <div class="padding-top-1x mt-2"></div>
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#right" data-toggle="tab" role="tab">Right</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#top" data-toggle="tab" role="tab">Top</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom" data-toggle="tab" role="tab">Bottom</a></li>
        <li class="nav-item"><a class="nav-link" href="#flip" data-toggle="tab" role="tab">Flip</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane transition fade right show active" id="right" role="tabpanel">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
            aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
            helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh
            mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
            aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane transition fade top" id="top" role="tabpanel">
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
            four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft
            beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
            labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit
            sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
            tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
        <div class="tab-pane transition fade bottom" id="bottom" role="tabpanel">
          <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic
            lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork
            tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica.
            DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh
            mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog.
            Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown.
            Pitchfork sustainable tofu synth chambray yr.</p>
        </div>
        <div class="tab-pane transition fade flip" id="flip" role="tabpanel">
          <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out
            master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan
            DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY
            salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.
            Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf
            salvia freegan.</p>
        </div>
      </div>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Tabs with Icons</h6>
      <hr class="margin-bottom-1x">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#archive" data-toggle="tab" role="tab"><i
                class="icon-help"></i>Help</a></li>
        <li class="nav-item"><a class="nav-link" href="#profile5" data-toggle="tab" role="tab"><i
                class="icon-head"></i>Profile</a></li>
        <li class="nav-item"><a class="nav-link" href="#settings5" data-toggle="tab" role="tab"><i
                class="icon-cog"> </i>Settings</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="archive" role="tabpanel">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
            aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
            helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh
            mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
            aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="profile5" role="tabpanel">
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
            four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft
            beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
            labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit
            sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
            tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
        <div class="tab-pane fade" id="settings5" role="tabpanel">
          <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out
            master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan
            DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY
            salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.
            Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf
            salvia freegan.</p>
        </div>
      </div>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Justified Tabs</h6>
      <hr class="margin-bottom-1x">
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#home2" data-toggle="tab" role="tab">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#profile2" data-toggle="tab" role="tab">Profile</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#settings2" data-toggle="tab" role="tab">Settings</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home2" role="tabpanel">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
            aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
            helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh
            mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
            aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="profile2" role="tabpanel">
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
            four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft
            beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
            labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit
            sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
            tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
        <div class="tab-pane fade" id="settings2" role="tabpanel">
          <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out
            master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan
            DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY
            salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.
            Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf
            salvia freegan.</p>
        </div>
      </div>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Align Center</h6>
      <hr class="margin-bottom-1x">
      <ul class="nav nav-tabs justify-content-center" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#home3" data-toggle="tab" role="tab">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#profile3" data-toggle="tab" role="tab">Profile</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#settings3" data-toggle="tab" role="tab">Settings</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home3" role="tabpanel">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
            aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
            helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh
            mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
            aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="profile3" role="tabpanel">
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
            four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft
            beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
            labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit
            sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
            tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
        <div class="tab-pane fade" id="settings3" role="tabpanel">
          <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out
            master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan
            DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY
            salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.
            Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf
            salvia freegan.</p>
        </div>
      </div>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Align Right</h6>
      <hr class="margin-bottom-1x">
      <ul class="nav nav-tabs justify-content-end" role="tablist">
        <li class="nav-item"><a class="nav-link active" href="#home4" data-toggle="tab" role="tab">Home</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#profile4" data-toggle="tab" role="tab">Profile</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#settings4" data-toggle="tab" role="tab">Settings</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="home4" role="tabpanel">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
            aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
            helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh
            mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan
            aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="profile4" role="tabpanel">
          <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
            Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan
            four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft
            beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda
            labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit
            sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown,
            tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
        <div class="tab-pane fade" id="settings4" role="tabpanel">
          <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out
            master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan
            DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY
            salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.
            Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf
            salvia freegan.</p>
        </div>
      </div>
    </div>
    <!-- END COL-9 -->

    <!-- BEGIN COL-3 -->
    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
      <!-- SIDE MENU-->
      <nav class="list-group" id="ui_elements_nav">
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/accordion">Accordion</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/alerts">Alerts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/buttons">Buttons</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/cards">Cards</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/forms">Forms</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/formLayouts">Form Layouts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/gallery">Gallery</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/images">Images & Figures</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/listGroup">List Group</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/mediaObject">Media Object</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/modals">Modal</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pagination">Pagination</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pills">Pills</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/progressBars">Progress Bars</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/steps">Steps</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tables">Tables</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tabs">Tabs</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/toastNotification">Toast
          Notifications</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/sweetAlert">Sweet Alert</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tooltips">Tooltips & Popovers</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/typography">Typography</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="widgets">Widgets</a>

      </nav>
    </div>
    <!-- END COL-3 -->
  </div>
  <!-- END ROW -->
</div>