<div class="container" id="container">
  <!-- BEGIN ROW -->
  <div class="row">
    <!-- BEGIN COL-9 -->
    <div class="col-lg-9 col-md-8 order-md-1">
      <h6 class="text-muted text-normal text-uppercase">Progress Thick with Labels</h6>
      <hr class="margin-bottom-1x">
      <div class="progress margin-bottom-1x">
        <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55"
             aria-valuemin="0" aria-valuemax="100">55%
        </div>
      </div>
      <div class="progress margin-bottom-1x">
        <div class="progress-bar bg-success" role="progressbar" style="width: 33%;" aria-valuenow="33"
             aria-valuemin="0" aria-valuemax="100">33%
        </div>
      </div>
      <div class="progress margin-bottom-1x">
        <div class="progress-bar bg-info" role="progressbar" style="width: 70%;" aria-valuenow="70"
             aria-valuemin="0" aria-valuemax="100">70%
        </div>
      </div>
      <div class="progress margin-bottom-1x">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50"
             aria-valuemin="0" aria-valuemax="100">50%
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 40%;" aria-valuenow="40"
             aria-valuemin="0" aria-valuemax="100">40%
        </div>
      </div>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Progress Thin with Labels</h6>
      <hr class="margin-bottom-1x">
      <label class="text-medium">Delivery - 55%</label>
      <div class="progress margin-bottom-1x">
        <div class="progress-bar" role="progressbar" style="width: 55%; height: 2px;" aria-valuenow="55"
             aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <label class="text-medium">Consulting - 33%</label>
      <div class="progress margin-bottom-1x">
        <div class="progress-bar bg-success" role="progressbar" style="width: 33%; height: 2px;"
             aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <label class="text-medium">Personal shopper - 70%</label>
      <div class="progress margin-bottom-1x">
        <div class="progress-bar bg-info" role="progressbar" style="width: 70%; height: 2px;"
             aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <label class="text-medium">Taxes refund - 70%</label>
      <div class="progress margin-bottom-1x">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 50%; height: 2px;"
             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <label class="text-medium">Packaging damages - 40%</label>
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 40%; height: 2px;"
             aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Multiple bars</h6>
      <hr class="margin-bottom-1x">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15"
             aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 30%;" aria-valuenow="30"
             aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-warning" role="progressbar" style="width: 20%;" aria-valuenow="20"
             aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Striped bars</h6>
      <hr class="margin-bottom-1x">
      <div class="progress margin-bottom-1x">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 15%;"
             aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress margin-bottom-1x">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%;"
             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress margin-bottom-1x">
        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%;"
             aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress margin-bottom-1x">
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%;"
             aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%;"
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <h6 class="text-muted text-normal text-uppercase padding-top-2x mt-2">Animated Stripes</h6>
      <hr class="margin-bottom-1x">
      <div class="progress margin-bottom-1x">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
             style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress margin-bottom-1x">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
             style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress margin-bottom-1x">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
             style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress margin-bottom-1x">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
             style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
             style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <!-- END COL-9 -->

    <!-- BEGIN COL-3 -->
    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
      <!-- SIDE MENU-->
      <nav class="list-group" id="ui_elements_nav">
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/accordion">Accordion</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/alerts">Alerts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/buttons">Buttons</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/cards">Cards</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/forms">Forms</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/formLayouts">Form Layouts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/gallery">Gallery</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/images">Images & Figures</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/listGroup">List Group</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/mediaObject">Media Object</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/modals">Modal</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pagination">Pagination</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pills">Pills</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/progressBars">Progress Bars</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/steps">Steps</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tables">Tables</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tabs">Tabs</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/toastNotification">Toast
          Notifications</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/sweetAlert">Sweet Alert</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tooltips">Tooltips & Popovers</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/typography">Typography</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="widgets">Widgets</a>

      </nav>
    </div>
    <!-- END COL-3 -->
  </div>
  <!-- END ROW -->
</div>