<div class="container">
  <h6 class="text-muted text-normal text-uppercase margin-top-2x">Time Picker</h6>
  <hr class="margin-bottom-1x">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="input-success">Default DateTime Picker</label>
        <input class="form-control date_time_picker" type="text" id="input-success">
        <small class="form-text text-muted">Add <code>.date_time_picker</code> class to initialize default DateTime Picker.</small>
      </div>
      <div class="form-group">
        <label for="input-warning">Default Time Picker</label>
        <input class="form-control time_picker" type="text" id="input-warning">
        <small class="form-text text-muted">Add <code>.time_picker</code> class to initialize default Time Picker.</small>
      </div>
      <div class="form-group">
        <label for="input-danger">Mirror Field</label>
        <input class="form-control date_time_mirror_field" type="text" id="input-danger">
        <input class="form-control date_time_mirror_field m-t-10" type="text" id="mirror_field">
        <small class="form-text text-muted">Add <code>.date_time_mirror_field</code> class to initialize Mirror Field.</small>
      </div>
    </div>
    <div class="col-md-6">
      <div class="date_time_inline"></div>
    </div>
  </div>
</div>