<div class="container" id="container">
  <!-- BEGIN ROW -->
  <div class="row">
    <!-- BEGIN COL-9 -->
    <div class="col-lg-9 col-md-8 order-md-1">

      <h6 class="text-muted text-normal text-uppercase">Image Shapes</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-sm-4">
          <img class="d-block mx-auto mb-3" src="http://via.placeholder.com/1280x853" alt="Image">
        </div>
        <div class="col-sm-4">
          <img class="d-block mx-auto rounded mb-3" src="http://via.placeholder.com/1280x853" alt="Image">
        </div>
        <div class="col-sm-4">
          <img class="d-block mx-auto rounded-circle mb-3" src="http://via.placeholder.com/160x160" alt="Image">
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Figures with Caption</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-sm-6">
          <figure class="figure mb-3"><img src="http://via.placeholder.com/1280x853" alt="Image">
            <figcaption class="figure-caption">lorem ipsum</figcaption>
          </figure>
        </div>
        <div class="col-sm-6">
          <figure class="figure mb-3"><img src="http://via.placeholder.com/1280x853" alt="Image">
            <figcaption class="figure-caption text-right">lorem ipsum</figcaption>
          </figure>
        </div>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Image Thumbnails</h6>
      <hr class="margin-bottom-1x">
      <div class="row">
        <div class="col-sm-4">
          <img class="d-block img-thumbnail mb-3" src="http://via.placeholder.com/160x160" alt="Image">
        </div>
        <div class="col-sm-4">
          <img class="d-block img-thumbnail rounded-circle mb-3"
               src="http://via.placeholder.com/160x160" alt="Image">
        </div>
      </div>
    </div>
    <!-- END COL-9 -->

    <!-- BEGIN COL-3 -->
    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
      <!-- SIDE MENU-->
      <nav class="list-group" id="ui_elements_nav">
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/accordion">Accordion</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/alerts">Alerts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/buttons">Buttons</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/cards">Cards</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/forms">Forms</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/formLayouts">Form Layouts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/gallery">Gallery</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/images">Images & Figures</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/listGroup">List Group</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/mediaObject">Media Object</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/modals">Modal</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pagination">Pagination</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pills">Pills</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/progressBars">Progress Bars</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/steps">Steps</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tables">Tables</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tabs">Tabs</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/toastNotification">Toast
          Notifications</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/sweetAlert">Sweet Alert</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tooltips">Tooltips & Popovers</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/typography">Typography</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="widgets">Widgets</a>

      </nav>
    </div>
    <!-- END COL-3 -->
  </div>
  <!-- END ROW -->
</div>