<div class="container" id="container">
  <!-- BEGIN ROW -->
  <div class="row">
    <!-- BEGIN COL-9 -->
    <div class="col-lg-9 col-md-8 order-md-1">
      <h6 class="text-muted text-normal text-uppercase">Users</h6>
      <hr class="margin-bottom-1x">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th>Engine</th>
            <th>Grade</th>
          </tr>
          </thead>
          <tbody *ngFor="let user of users">
		  <tr>
            <td>{{user.email}}</td>
            <td>{{user.displayName}}</td>
            <td>{{userProfile.firstName}}</td>
            <td>C</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Striped rows</h6>
      <hr class="margin-bottom-1x">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th>Engine</th>
            <th>Grade</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Internet Explorer 5.0</td>
            <td>Win 95+</td>
            <td>5</td>
            <td>C</td>
          </tr>
          <tr>
            <td>Firefox 1.0</td>
            <td>Win 98+ / OSX.2+</td>
            <td>1.7</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Camino 1.0</td>
            <td>OSX.2+</td>
            <td>1.8</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Netscape 7.2</td>
            <td>Mac OS 8.6-9.2</td>
            <td>1.7</td>
            <td>A</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Bordered table</h6>
      <hr class="margin-bottom-1x">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th>Engine</th>
            <th>Grade</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Internet Explorer 5.0</td>
            <td>Win 95+</td>
            <td>5</td>
            <td>C</td>
          </tr>
          <tr>
            <td>Firefox 1.0</td>
            <td>Win 98+ / OSX.2+</td>
            <td>1.7</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Camino 1.0</td>
            <td>OSX.2+</td>
            <td>1.8</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Netscape 7.2</td>
            <td>Mac OS 8.6-9.2</td>
            <td>1.7</td>
            <td>A</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Hoverable rows</h6>
      <hr class="margin-bottom-1x">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th>Engine</th>
            <th>Grade</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Internet Explorer 5.0</td>
            <td>Win 95+</td>
            <td>5</td>
            <td>C</td>
          </tr>
          <tr>
            <td>Firefox 1.0</td>
            <td>Win 98+ / OSX.2+</td>
            <td>1.7</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Camino 1.0</td>
            <td>OSX.2+</td>
            <td>1.8</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Netscape 7.2</td>
            <td>Mac OS 8.6-9.2</td>
            <td>1.7</td>
            <td>A</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Contextual colors</h6>
      <hr class="margin-bottom-1x">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Column heading</th>
            <th>Column heading</th>
            <th>Column heading</th>
          </tr>
          </thead>
          <tbody>
          <tr class="table-active">
            <th scope="row">1</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="table-success">
            <th scope="row">3</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="table-info">
            <th scope="row">5</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="table-warning">
            <th scope="row">7</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          <tr class="table-danger">
            <th scope="row">9</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
          </tr>
          </tbody>
        </table>
      </div>

      <h6 class="text-muted text-normal text-uppercase padding-top-2x">Invert the colors</h6>
      <hr class="margin-bottom-1x">
      <div class="table-responsive">
        <table class="table table-inverse">
          <thead>
          <tr>
            <th>Browser</th>
            <th>Platform(s)</th>
            <th>Engine</th>
            <th>Grade</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Internet Explorer 5.0</td>
            <td>Win 95+</td>
            <td>5</td>
            <td>C</td>
          </tr>
          <tr>
            <td>Firefox 1.0</td>
            <td>Win 98+ / OSX.2+</td>
            <td>1.7</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Camino 1.0</td>
            <td>OSX.2+</td>
            <td>1.8</td>
            <td>A</td>
          </tr>
          <tr>
            <td>Netscape 7.2</td>
            <td>Mac OS 8.6-9.2</td>
            <td>1.7</td>
            <td>A</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- END COL-9 -->

    <!-- BEGIN COL-3 -->
    <div class="col-lg-3 col-md-4 order-md-2 r5_m_t_20">
      <!-- SIDE MENU-->
      <nav class="list-group" id="ui_elements_nav">
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/accordion">Accordion</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/alerts">Alerts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/buttons">Buttons</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/cards">Cards</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/forms">Forms</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/formLayouts">Form Layouts</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/gallery">Gallery</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/images">Images & Figures</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/listGroup">List Group</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/mediaObject">Media Object</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/modals">Modal</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pagination">Pagination</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/pills">Pills</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/progressBars">Progress Bars</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/steps">Steps</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tables">Tables</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tabs">Tabs</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/toastNotification">Toast
          Notifications</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/sweetAlert">Sweet Alert</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/tooltips">Tooltips & Popovers</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="/typography">Typography</a>
        <a class="list-group-item list-group-item-action" href="javascript:void(0)" routerLink="widgets">Widgets</a>

      </nav>
    </div>
    <!-- END COL-3 -->
  </div>
  <!-- END ROW -->
</div>