<div class="container">
  <h6 class="text-muted text-normal text-uppercase margin-top-2x">Date Picker</h6>
  <hr class="margin-bottom-1x">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="input-success">Default Date Picker</label>
        <input class="form-control date_picker" type="text" id="input-success">
        <small class="form-text text-muted">Add <code>.date_picker</code> class to initialize default datepicker.</small>
      </div>
      <div class="form-group">
        <label for="input-warning">Format Date</label>
        <input class="form-control format_date_picker" type="text" id="input-warning">
        <small class="form-text text-muted">Add <code>.format_date_picker</code> class to initialize formated datepicker.</small>
      </div>
      <div class="form-group">
        <label for="input-danger">Disable Future Dates</label>
        <input class="form-control date_picker_disable_future" type="text" id="input-danger">
        <small class="form-text text-muted">Add <code>.date_picker_disable_future</code> class to initialize datepicker with Disabled
          Future Dates.</small>
      </div>
      <div class="form-group">
        <label for="input-danger">Disable Past Dates</label>
        <input class="form-control date_picker_disable_past" type="text">
        <small class="form-text text-muted">Add <code>.date_picker_disable_past</code> class to initialize datepicker with Disabled
          Past Dates.</small>
      </div>
    </div>
    <div class="col-md-6">
      <div class="date_inline"></div>
    </div>
  </div>
</div>