<!-- BEGIN COOKIE -->
<div class="pvr-cookie-consent-bar">
  <div class="container">
    <div class="pvr-cookie-consent-bar-holder">
      <div class="pvr-cookie-consent-bar-content"> This website uses cookies to ensure you get the best
        experience on our website.
        <a href="http://www.allaboutcookies.org/cookies/" target="_blank">What is cookie ?</a>
        <a href="javascript:void(0)">Our Cookie Policy</a>
      </div>
      <div class="pvr-cookie-consent-bar-action">
        <a href="javascript:void(0)" class="mt-cookie-consent-btn btn btn-outline-primary">Understand</a>
      </div>
    </div>
  </div>
</div>
<!-- END COOKIE -->